/* boxes with round corners */

.box_left {
	background: url(/media/red.png) repeat;
	width: 19em;
	position: absolute;
	left: 1em;
}

.box_right {
	background: url(/media/red.png) repeat;
	width: 19em; position: absolute; left: 23em;
}

.topleft div  { background: url(/media/red_top_left.png) no-repeat top left; }
.topleft      { background: url(/media/red_top_right.png) no-repeat top right; }
.botleft div  { background: url(/media/red_bottom_left.png) no-repeat bottom left; }
.botleft      { background: url(/media/red_bottom_right.png) no-repeat bottom right; }

 /* height and width details */

.topleft div, .topleft, .botleft div, .botleft {
  width: 100%;
  height: 14px;
  font-size: 1px;
}

.boxcontent {
	margin: 4px;
	height: 80px;
	text-align: center;
    font-size: 1.3em;
}

.topbuttonrow {
    height: 13em;
    width: 42em;
	padding-top:2em;
    position: relative;
	margin-left: auto;
	margin-right: auto;
}

.botbuttonrow {
    height: 13em;
    width: 42em;
    position: relative;
	margin-left: auto;
	margin-right: auto;
}


 /* links for the boxes */
 .boxcontent img { border:0px }
 .boxcontent a:link {color: black; text-decoration: underline; }
 .boxcontent a:hover {color: white; text-decoration: underline; }

div.boxcontent img {
  float:left;
}

