/* Because the IE 5+6 old ist, it doesn't understand some modern CSS commands, which need
 * workarrounds. */

/* Max-Width JavaScript simulation  */
div#container {
 width: 1024px; /* If JavaScript is not active */
 width:expression(document.body.clientWidth>905?"1024px":"auto");
}

/* IE <=6 to center the whole page */
body {
 text-align: center;
}
#container {
 text-align: left;
}

#logo {
 line-height: 121px;
}

#subnav {
 padding-left: 10px;
}
