/** 5E7C93  546878  2C516D  9DBCD3  AFC4D3  6D2E2C
 *
 * CSS Reset
 * From Blueprint reset.css
 * http://blueprintcss.googlecode.com
 */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}
body {line-height:1.5;}
table {border-collapse:separate;border-spacing:0;}
caption, th, td {text-align:left;font-weight:normal;}
table, td, th {vertical-align:middle;}
blockquote:before, blockquote:after, q:before, q:after {content:"";}
blockquote, q {quotes:"" "";}
a img {border:none;}

/**
 * Basic Typography
 */
body {
    font-family: "Lucida Grande", Verdana, Geneva, Lucida, Arial, Helvetica, sans-serif;
    color: #222;
    background: #fff;
}
pre, code {
    margin: 1.5em 0;
    font: 1em 'andale mono', 'lucida console', monospace;
    line-height:1.5;
    /* from http://labnol.blogspot.com/2006/10/html-css-trick-for-displaying-code.html */
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}
a[href] {
    background-color: transparent;
    color: #546878;
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
    color: #2C516D;
    background-color: transparent;
    font: 100% 'Lucida Grande', Verdana, Geneva, Lucida, Arial, Helvetica, sans-serif;
    margin: 0;
    padding-top: 0.5em;
}
h1 {
    font-size: 130%;
    margin-bottom: 0.5em;
    border-bottom: 1px solid #2C516D;
}
h2 {
    font-size: 120%;
    margin-bottom: 0.5em;
    border-bottom: 1px solid #5E7C93;
}
h3 {
    font-size: 110%;
    margin-bottom: 0.5em;
    text-decoration: underline;
}
h4 {
    font-size: 100%;
    font-weight: bold;
}
h5 {
    font-size: 100%;
    font-weight: bold;
}
h6 {
    font-size: 80%;
    font-weight: bold;
}

/* header */
#logo {
    float: left;
}
#header {
    background-repeat:repeat-y;
    background-color: black;
    border-bottom: 2px solid #546878;
    min-height: 90px;
    line-height: 2em;
    margin: 0;
    padding: 0.5em;
    text-align: right;
    border-radius: 0 0 0.9em 0;
    padding: 0.5em ;
    color: #546878;
    font-weight: bold;
}
#header a {
    color: #AFC4D3;
    text-decoration: none ;
}
#header img {
    vertical-align: middle;
}
#header form {
    display: inline;
}
#feedback {
    display: inline;
}

.container {
    margin: 0px 10px 10px 10px;
}

/* footer */
#footer {
    background-color: #2C516D;
    color: white;
    padding: 1.2em 0.8em ;
    margin-top: 2em;
    clear: both;
    font-size: 0.8em;
    line-height: 2;
    border: 5px solid black;
    border-radius: 0.9em 0.9em 0 0;
}
#footer img {
    vertical-align: middle;
}
#footer a[href] {
    color: #8fc9ff;
}
#footer ul, #footer li {
    display: inline ;
    margin: 0 2em 0 0 ;
    padding: 0;
}
#footer li:before {
    content: "\00BB \0020";
}
#footer .title {
    float:left ;
    max-width:8em;
}
#footer .info {
    margin-left:8em;
}

/* TODO: simplify this file: there are some repeated directives like for
general forms and for event_form */

/* general form directives */
form .helptext {
    color: #9DBCD3;
    font-size: 0.8em;
}
form label {
    color: #2C516D;
    font-weight: bold;
}
input[type="text"], textarea, input[type="checkbox"] {
    border: 1px solid #3176B9;
}
form ul {
    list-style: none;
    padding: 0;
}
form li {
    padding: 1em 0em 1em 0em ;
}

.daytitle {
    border-bottom: 0 none;
    clear: left;
    color: #5E7C93;
    font: italic 1.2em 'Lucida Grande',Verdana,Geneva,Lucida,Arial,Helvetica,sans-serif;
    margin-bottom: 0.5em;
    max-width: 10em;
    padding-top: 1em;
}

.tags {
    margin: 0.5em 0 0.2em 0;
    line-height: 2em;
}
.tags a {
    padding: 0.1em 0.3em 0.1em 0.3em;
    margin: 0.1em 0.3em 0.1em 0em;
    border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    border: 1px #ccc solid;
    /* background-color: #cde; */
    background-color: transparent;
    color: black;
    text-decoration: none;
}

/*
 * event medium format (used in main page and box-search-results)
 */
.event_medium {
    float:left;
    margin: 0.5em;
}
.event_medium .title {
    font-size: 1.1em;
    background: black;
    color: #546878;
    padding: 0.2em;
    border-radius: 0.5em 0.5em 0 0;
}
.event_medium .title a[href] {
    color: #AFC4D3;
}
.event_medium .content {
    border: 1px solid #2C516D;
    padding: 0.5em;
    border-radius: 0 0 0.5em 0.5em;
}
.event_medium .options {
    font-size: 0.8em;
    text-align: right;
}
.event_medium .tags {
    font-size: 0.8em;
    line-height: 2em;
}

.deadlines, .deadlines a[href]  {
    color: #6D2E2C;
    text-decoration: none ;
}

#search_form {
    display: inline;
}
.dayboxsearch {
    float: left;
    margin: 0.5em;
}

/*
 * event history
 */
.event_history .options {
    font-size: 0.8em;
    text-align: right;
}
.event_history .diff_chg {
    color: blue ;
    font-weight:bold;
}
.event_history .diff_add {
    color: green ;
    font-weight:bold;
}
.event_history .diff_sub {
    color: red ;
    font-weight:bold;
}
.event_history .diff_next, .event_history .diff_header {
    display: none;
}
td {
    border: 0;
    padding: 0.1em 5em 0 0;
}

.date, .date a[href] {
    color: #546878;
    display: inline ;
    text-decoration: none ;
}

.time {
    color: #5E7C93;
    display: inline ;
}

.city, .city a[href] {
    color: black;
}

.country, .country a[href] {
    color: black;
}

/** event full **/
.icon {
    vertical-align: middle;
    width: 1.5em;
}
.ical_logo {
    margin: 0;
    vertical-align: middle;
}
.event_full #title {
    display: inline-block;
    padding: 0.2em 0.5em;
}
.data {
    display: inline-block;
    margin-left: 1em;
}
.event_full .header {
    background: none repeat scroll 0 0 black;
    border-radius: 0.5em 0.5em 0.5em 0.5em;
    color: #9DBCD3;
    display: inline-block;
    font-size: 1.1em;
    margin-bottom: 1em;
    padding: 0;
    width: 100%;
}
.event_full {
    margin-top: 1.5em;
}
.event_full .options {
    background-color: transparent;
    border: 3px solid white;
    border-radius: 0.5em 0.5em 0.5em 0.5em;
    color: #5E7C93;
    display: inline-block;
    float: right;
    font-size: 0.8em;
    margin: 0;
    padding: 0.3em 0.5em;
    text-align: right;
}
.event_full .options a {
    text-decoration: none;
    color: white;
}
.urls, .urls ul, .urls li {
    display: inline ;
    margin: 1em 1em 1em 0 ;
    -moz-padding-start: 0;
}
.urls li:before {
    content: "\00BB \0020";
}
.event_full td {
    border: 1px solid #aaa;
    padding:0.5em;
}
.event_full table {
    display: inline;
    margin-top: 1em;
    vertical-align: top;
}
#description {
    font-size: 90%;
}

/* errors produces by wrong entries in forms */
.errorlist {
    font-size:90%;
    color:red;
}

/* messages and error_messages */
.messages {
    font-size:90%;
    list-style-type: none;
}
.messages ul li {
    display: inline ;
    margin: 0 1em 0 0 ;
}
.messages li:before {
    content: "\00BB \0020";
}
.messages .info { color:blue; }
.messages .warning { color:green; }
.messages .error { color:red; }

/* list of groups and some events */
#groups ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
#groups ul li:before {
    color: red;
    content: "\00BB \0020";
}

/* for tags cloud */
.tag_1  { font-size:0.8em; }
.tag_2  { font-size:1.0em; }
.tag_3  { font-size:1.2em; }
.tag_4  { font-size:1.4em; }
.tag_5  { font-size:1.6em; }
.tag_6  { font-size:1.8em; }
.tag_7  { font-size:2.0em; }
.tag_8  { font-size:2.2em; }
.tag_9  { font-size:2.4em; }
.tag_10 { font-size:2.6em; }

/* for all forms */
input[type="text"], textarea, input[type="checkbox"] {
    border: solid 1px #3176b9;
}

fieldset {
    padding: 0.5em;
    border:1px solid #2C516D;
    margin: 1em 0 1em 0;
    background: none repeat scroll 0 0 #9DBCD3;
    border-radius: 0.5em 0.5em 0.5em 0.5em;
}
legend {
    background: none repeat scroll 0 0 black;
    border: 1px solid #2C516D;
    color: #AFC4D3;
    font-weight: bold;
    padding: 0.2em 0.5em;
    text-align: center;
    border-radius: 0.5em 0.5em 0.5em 0.5em;
}

#simplified_container {
    float: right;
    width: 400px;
    padding: 1em 0em;
}
#simplified_event_form label {
    float:left;
    position: absolute;
}
#simplified_event_form input[type="text"] {
    margin-left:70px;
    width: 300px;
}
#simplified_event_form input[type="checkbox"] {
    margin-left:70px;
}
#simplified_event_form .help_text {
    font-size:0.8em;
    margin-left:70px;
}
#simplified_event_form textarea {
    height: 4em;
    margin-left:70px;
    width: 300px;
}
#simplified_submit {
    margin-right: 10px;
    margin-top: 0.5em;
    text-align: right;
}

/* complete event form */
#event_form label {
  float:left;
  width: auto;
  text-align:right;
  margin-right:0.5em
}
#event_form input {
    margin: 0.1em 0 0.1em 0;
}
#event_form td {
    font-size:0.8em;
    color: gray;
    padding-bottom:1em;
}
#event_form label {
    /* font-size:1.4em; */
    color: #003a6b;
    font-weight: bold;
    min-width:10em;
}
#event_form th {
    vertical-align:top;
}
#url_table, #session_table, #deadline_table {
    margin-top:1.5em;
}
#url_table th, #session_table th, #deadline_table th {
    text-align:center;
    color: #003a6b;
    font-weight: bold;
}
#url_table td, #session_table td, #deadline_table td {
    padding: 0.5em 0.5em 0.5em 0;
    text-align:center;
}
#url_table input[name$="-url_name"] {
    width: 10em;
}
#url_table input[name$="-url"] {
    width: 40em;
}
#session_table th {
    padding: 0 1em ;
}

/**
 * Event table
 */
.event_table {
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    width:100%;
    border-collapse:collapse;
}
.event_table td, .event_table th {
    font-size:1em;
    /*border:1px solid #55aacc;*/
    border:0px;
    padding:3px 7px 2px 7px;
}
.event_table th {
    font-size:1.1em;
    text-align:left;
    padding-top:5px;
    padding-bottom:4px;
    background-color:#4291c9;
    color:#ffffff;
}
.event_table th a {
    color:#fff;
}
.event_table tr.even td {
    color:#000;
    background-color:#d3e8f2;
}
.event_table .col_start {
    width: 10em ;
}
.event_table .col_next_coming_date_or_start {
    width: 10em ;
}
.event_table .col_city {
    width: 10em ;
}
.event_table .col_country {
    width: 2em ;
}

/**
 * search results
 */
#views {
    display: inline-block;
    font-size: 0.9em;
    margin: 1em 0 0.2em;
    text-align: right;
}
#views img {
    vertical-align:middle;
    margin: 0.2em;
}
#views a {
    text-decoration:none;
    color: #333;
}
.current_view {
    margin-bottom: 1em;
    border: 3px #5E7C93 solid;
}
#views div[id$="_view"] {
    padding: 0.5em;
    border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    display: inline;
    margin: 0 0.2em;
    padding: 0.4em;
}
#views #table_view { background: #aaa; }
#views #map_view { background: #e8cfe6; }
#views #boxes_view { background: #99c2e8; }
#views #calendars_view { background: #b6b9ea; }
#views #ical_view { background: #9dd49d; }
#views #rss_view { background: #ff9e63; }

/* calendar view */
.calendars table {
    border: 1px solid #3176B9;
    margin: 1em;
    padding: 0.5em;
    border-collapse: collapse;
}
.calendars th {
    background-color: #3176B9;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 0.2em;
}
.calendars td {
    border-left: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
}
.calendars td.today {
    color: red;
    font-weight: bold;
    border-right: 2px solid red;
    border-left: 2px solid red;
    border-top: 2px solid red;
}
.calendars tr:not(.event-row) {
    display: table-row;
    border-top: 1px solid #DDDDDD;
}
.calendars tr.empty-row {
    border-top: 0px;
    height: 1em;
}
.calendars .event-rectangle {
    border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    padding: 0.2em;
}
.calendars .noday {
    background-color: #DDDDDD;
}
.calendars a[href] {
    color: inherit;
    text-decoration: none;
}
.calendars a:hover {
    text-decoration: underline;
}

/**
 * Map Specific
 */
.smallmap {
    width: 100%;
    height: 512px;
    border: 3px solid black;
}
#tags {
    display: none;
}

#docs p {
    margin-bottom: 0.5em;
}

/**
 * osm map view specific ( from http://openlayers.org/dev/examples/xhtml.html )
 */

div.olMap {
    z-index: 0;
    padding: 0px!important;
    margin: 1em 0 !important;
    cursor: default;
}

div.olMapViewport {
    text-align: left;
}

div.olLayerDiv {
   -moz-user-select: none;
   -khtml-user-select: none;
}

.olLayerGoogleCopyright {
    left: 2px;
    bottom: 2px;  
}
.olLayerGooglePoweredBy {
    left: 2px;
    bottom: 15px;   
}
.olControlAttribution {
    font-size: smaller; 
    right: 3px; 
    bottom: 4.5em; 
    position: absolute; 
    display: block;
}
.olControlScale {
    right: 3px;
    bottom: 3em;
    display: block;
    position: absolute;
    font-size: smaller;
}
.olControlScaleLine {
   display: block;
   position: absolute;
   left: 10px;
   bottom: 15px;
   font-size: xx-small;
}
.olControlScaleLineBottom {
   border: solid 2px black;
   border-bottom: none;
   margin-top:-2px;
   text-align: center;
}
.olControlScaleLineTop {
   border: solid 2px black;
   border-top: none;
   text-align: center;
}

.olControlPermalink {
    right: 3px;
    bottom: 1.5em;
    display: block;
    position: absolute;
    font-size: smaller;
} 

div.olControlMousePosition {
    bottom: 0em;
    right: 3px;
    display: block;
    position: absolute;
    font-family: Arial;
    font-size: smaller;
}

.olControlOverviewMapContainer {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.olControlOverviewMapElement {
    padding: 10px 18px 10px 10px;
    background-color: #00008B;
    -moz-border-radius: 1em 0 0 0;
}

.olControlOverviewMapMinimizeButton {
    right: 0px;
    bottom: 80px;
}    

.olControlOverviewMapMaximizeButton {
    right: 0px;
    bottom: 80px;
}

.olControlOverviewMapExtentRectangle {
    overflow: hidden;
    background-image: url("img/blank.gif");
    cursor: move;
    border: 2px dotted red;
}
.olControlOverviewMapRectReplacement {
    overflow: hidden;
    cursor: move;
    background-image: url("img/overview_replacement.gif");
    background-repeat: no-repeat;
    background-position: center;
}

.olLayerGeoRSSDescription {
    float:left;
    width:100%;
    overflow:auto;
    font-size:1.0em;
}
.olLayerGeoRSSClose {
    float:right;
    color:gray;
    font-size:1.2em;
    margin-right:6px;
    font-family:sans-serif;
}
.olLayerGeoRSSTitle {
    float:left;font-size:1.2em;
}

.olPopupContent {
    padding:5px;
    overflow: auto;
}    
.olControlNavToolbar { 
    width:0px;
    height:0px;
}    
.olControlNavToolbar div { 
  display:block;
  width:  28px;
  height: 28px;
  top: 300px;
  left: 6px;
  position: relative;
}

.olControlNavigationHistory {
   background-image: url("img/navigation_history.png");
   background-repeat: no-repeat;
   width:  24px;
   height: 24px;

}
.olControlNavigationHistoryPreviousItemActive { 
  background-position: 0px 0px;
}
.olControlNavigationHistoryPreviousItemInactive { 
   background-position: 0px -24px;
}
.olControlNavigationHistoryNextItemActive { 
   background-position: -24px 0px;
}
.olControlNavigationHistoryNextItemInactive { 
   background-position: -24px -24px;
}

.olControlNavToolbar .olControlNavigationItemActive { 
  background-image: url("img/panning-hand-on.png");
  background-repeat: no-repeat;
}
.olControlNavToolbar .olControlNavigationItemInactive { 
  background-image: url("img/panning-hand-off.png");
  background-repeat: no-repeat;
}
.olControlNavToolbar .olControlZoomBoxItemActive { 
  background-image: url("img/drag-rectangle-on.png");
  background-color: orange;
  background-repeat: no-repeat;
}
.olControlNavToolbar .olControlZoomBoxItemInactive { 
  background-image: url("img/drag-rectangle-off.png");
  background-repeat: no-repeat;
}
.olControlEditingToolbar  {
    float:right;
    right: 0px;
    height: 30px; 
    width: 200px;
}
.olControlEditingToolbar div { 
  background-image: url("img/editing_tool_bar.png");
  background-repeat: no-repeat;
  float:right;
  width:  24px;
  height: 24px;
  margin: 5px;
}
.olControlEditingToolbar .olControlNavigationItemActive { 
  background-position: -103px -23px; 
}
.olControlEditingToolbar .olControlNavigationItemInactive { 
  background-position: -103px -0px; 
}
.olControlEditingToolbar .olControlDrawFeaturePointItemActive { 
  background-position: -77px -23px; 
}
.olControlEditingToolbar .olControlDrawFeaturePointItemInactive { 
  background-position: -77px -0px; 
}
.olControlEditingToolbar .olControlDrawFeaturePathItemInactive { 
  background-position: -51px 0px; 
}
.olControlEditingToolbar .olControlDrawFeaturePathItemActive { 
  background-position: -51px -23px; 
}
.olControlEditingToolbar .olControlDrawFeaturePolygonItemInactive { 
  background-position: -26px 0px; 
}
.olControlEditingToolbar .olControlDrawFeaturePolygonItemActive { 
  background-position: -26px -23px ;                                                                   
}
div.olControlSaveFeaturesItemActive { 
    background-image: url(img/save_features_on.png);
    background-repeat: no-repeat;
    background-position: 0px 1px;
}
div.olControlSaveFeaturesItemInactive { 
    background-image: url(img/save_features_off.png);
    background-repeat: no-repeat;
    background-position: 0px 1px;
}

.olHandlerBoxZoomBox {
    border: 2px solid red;
    position: absolute;
    background-color: white;
    opacity: 0.50;
    font-size: 1px;
    filter: alpha(opacity=50);
}
.olHandlerBoxSelectFeature {
    border: 2px solid blue;
    position: absolute;
    background-color: white;
    opacity: 0.50;
    font-size: 1px;
    filter: alpha(opacity=50);
}   

.olControlPanPanel {
    top: 10px;
    left: 5px;
}  

.olControlPanPanel div {
    background-image: url(img/pan-panel.png);
    height: 18px;
    width: 18px;
    cursor: pointer;
    position: absolute;
}

.olControlPanPanel .olControlPanNorthItemInactive {
    top: 0px;
    left: 9px;
    background-position: 0px 0px;
}
.olControlPanPanel .olControlPanSouthItemInactive {
    top: 36px;
    left: 9px;
    background-position: 18px 0px;
}
.olControlPanPanel .olControlPanWestItemInactive {
    position: absolute;
    top: 18px;
    left: 0px;
    background-position: 0px 18px;
}
.olControlPanPanel .olControlPanEastItemInactive {
    top: 18px;
    left: 18px;
    background-position: 18px 18px;
}

.olControlZoomPanel {
    top: 71px;
    left: 14px;
} 

.olControlZoomPanel div {
    background-image: url(img/zoom-panel.png);
    position: absolute;
    height: 18px;
    width: 18px;
    cursor: pointer;
}

.olControlZoomPanel .olControlZoomInItemInactive {
    top: 0px;
    left: 0px;
    background-position: 0px 0px;
}

.olControlZoomPanel .olControlZoomToMaxExtentItemInactive {
    top: 18px;
    left: 0px;
    background-position: 0px -18px;
}

.olControlZoomPanel .olControlZoomOutItemInactive {
    top: 36px;
    left: 0px;
    background-position: 0px 18px;
}

.olPopupCloseBox {
  background: url("img/close.gif") no-repeat;
  cursor: pointer;
}

.olFramedCloudPopupContent {
    padding: 5px;
    overflow: auto;
}

.olControlNoSelect {
 -moz-user-select: none;
 -khtml-user-select: none;
}

.olImageLoadError {
    background-color: pink;
    opacity: 0.5;
    filter: alpha(opacity=50); /* IE */
}

/**
 * Cursor styles
 */

.olCursorWait {
    cursor: wait;
}
.olDragDown {
    cursor: move;
}
.olDrawBox {
    cursor: crosshair;
}
.olControlDragFeatureOver {
    cursor: move;
}
.olControlDragFeatureActive.olControlDragFeatureOver.olDragDown {
    cursor: -moz-grabbing;
}

/**
 * Layer switcher
 */
.olControlLayerSwitcher {
    position: absolute;
    top: 25px;
    right: 0px;
    width: 20em;
    font-family: sans-serif;
    font-weight: bold;
    margin-top: 3px;
    margin-left: 3px;
    margin-bottom: 3px;
    font-size: smaller;
    color: white;
    background-color: transparent;
}

.olControlLayerSwitcher .layersDiv {
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 5px;
    padding-right: 75px;
    background-color: darkblue;
    width: 100%;
    height: 100%;
}

.olControlLayerSwitcher .layersDiv .baseLbl,
.olControlLayerSwitcher .layersDiv .dataLbl {
    margin-top: 3px;
    margin-left: 3px;
    margin-bottom: 3px;
}

.olControlLayerSwitcher .layersDiv .baseLayersDiv,
.olControlLayerSwitcher .layersDiv .dataLayersDiv {
    padding-left: 10px;
}

.olControlLayerSwitcher .maximizeDiv,
.olControlLayerSwitcher .minimizeDiv {
    top: 5px;
    right: 0px;
}

