body {
 background: white;
 color: black;
 font-family: georgia, "Times New Roman", Times serif;
}
#logo {
 text-align: right;
 line-height: 0.8em;
 font-size: 3em;
 font-family: verdana, arial, sans-serif;
 letter-spacing: -3px;
}
#logo a {
 text-decoration: none;
}
#main a:link:after, #main a:visited:after { /* This write the URL after the link. See <http://www.alistapart.com/articles/goingtoprint/ verwiesen.> */
   content: " (" attr(href) ") ";
   font-size: 0.9em; }
#main a[href^="/"]:after {
 content: " (http://stopsoftwarepatents.eu" attr(href) ") ";
}
.fright {
 float: right;
 margin: 0 0 1em 1em;
}
.fleft {
 float: left;
 margin: 0 1em 1em 0;
}
