body {
  background: #ccc;
  color: black;
  margin: 0;
  padding: 1%;
  min-width: 600px; /* for less than this a horizontal scrool bar appears. */
  font-size: 100.01%; /* but work arround for old Safari, Opera and IE */
  font-family: verdana, arial, sans-serif ;
}
a { color: #0B4D8C; text-decoration: underline; } /* not visited links */
a:visited { color: black; } /* visited links */

a.wikilink {
	text-decoration: none ;
}
a.wikilink:hover {
	background: #9e0009;
	color: white;
}

.info {
    font-size: 0.8em;
    color: #808080;
    text-align: right;
}

#totalsigcount {
  font-size: 1.2em;
  font-weight: bold;
}

h1 {
  font-size: 2.7em;
  font-weight: normal;
  line-height: 0.8em;
  padding: 0.6em 0 0.2em 2%;
  margin: 0;
  /* border-bottom: 1px dashed #af0000;*/
}
h2, h3, h4 { font-weight: normal; }
h1, h2, h3, h4, h5, h6 {
  color: #0000A4;
  font-family: Georgia, "Times New Roman", Times, serif;
}
img {
  /* border: solid 1px #aaa; */
  padding: 1px;
  max-width: 95%;
}
.fleft {
  float: left;
  margin: 0 0.5em 0.0em 0;
}
.fright {
  float: right;
  margin: 0 0 0.2em 1em;
  padding: 1px;
}

#container {
  max-width: 500px; /* there is a Workaround for IE in ielte6 */
  margin: auto; /* center the page */
  background: white;
}
#footer {
  clear: both; /* for making #main as high as #subnav */
  padding: 0 20px;
}

#logo {
  background: #fff;
  height: 123px;
  text-align: center;
  vertical-align: middle;
  overflow: hidden; /* scaling doesn't break the logo */
  letter-spacing: -3px;
  margin: 0; /* Some browsers don't do it by default. */
  border-right: 6px solid #CD6562;
  border-left: 6px solid #CD6562;
  border-top: 6px solid #CD6562;
  border-bottom: 0px ;
}
#logo a {
  color: white;
  text-decoration: none;
  border:0 none;
}
#logo a:visited { color: white; text-decoration: none; border: 0 none}
#logo img {
  border: 0 none;
  vertical-align: left;
  text-align: left;
  float: left;
}

/* Sprachauswahl */
#navigation {
  background: #fff;
  height: 3em;
  line-height: 3em;
  color: white;
  padding-left: 1em;
  border-right: 6px solid #CD6562;
  border-left: 6px solid #CD6562;
  border-top: 1px solid #CD6562;
  border-bottom: 1px solid #CD6562;
}

#navigation form {
  float: left;
}

#borderdiv {
  border-top: 0px ;
  border-bottom: 6px solid #CD6562;
  border-left: 6px solid #CD6562;
  border-right: 6px solid #CD6562;
}

/* - right column - */
#subnav {
  width: 30%;
  min-width: 10em;
  float: right;
  padding: 20px 1% 1em 1%;
  margin: 1em 1% 0 1%;
 /* border-left: 1px dotted #af0000; */
  font-size: 0.9em; /* Info on the subnav is not so important */
}
#subnav dt { /* titles on the subnav */
  font-size: 1.2em;
  font-family: Georgia, "Times New Roman", Times, serif;
  padding: 0.5em;
  margin-top: 1em;
  /* border-top: 1px dotted #af0000; */
}
#subnav dd { /* the text behind each title (dt) */
  padding: 0;
  margin: 0.2em 0;
}

/* - petition - */
#main {
  background:  white;
  padding: 0 35% 0 20px;
  line-height: 1.5em;
}

#demands {
}

div.bannerdiv {
  border: 1px ridge black;
}

p.langp {
  margin: 0;
}

.tablecentered {
	margin-left: auto;
	margin-right: auto;
	border-spacing:1.5em 0.5em;
}
.tablecentered tr {
	border:1px;
}

#centered {
	padding-left:5em ;
	padding-right:5em ;
}
/* forms */
div.formline          { position:relative; height:2.5em; }
div.formlabel         { position:absolute; left:1em; width:10em; }
div.formbox           { position:absolute; left:10em; width:40em; }
#id_asoc              { width:100%; }
#id_name              { width:100%; }
#id_email             { width:100%; }
#id_url               { width:100%; }
#id_text              { width:100%; }
#form_button          { text-align:right; }
div.row {
  clear: both;
  padding-top: 1px;
  }
div.row span.label {
  float: left;
  width: 18em;
  text-align: right;
  }
div.row span.req {
  float: left;
  width: 2em;
  text-align: right;
  }
div.row span.formw {
  float: right;
  width: 33em;
  text-align:  left;
  }
div.spacer {
  clear:  both;
  }

div#signmainbox {
  width: 55em;
  height: auto;
  background-color: #ccc;
  border: 1px dotted #333;
  padding: 15px;
  margin: 10px auto;
  }

div#refmainbox {
  width: 55em;
  height: auto;
  background-color: #ccc;
  border: 1px dotted #333;
  padding: 15px;
  margin: 10px auto;
  }

span#denotes_req_fields {
  float: left;
  text-align: right;
  }
span#submit_button {
  float: right;
  }
ul.errorlist {
  margin-top: 0;
}
ul.errorlist li {
  color: red;
}

.code {
	margin: 1em;
}
