{# Copyright: 2016 George Vlachos <george ät wikical dot com> #}
{% extends "base.html" %}
{% load i18n %}

{% block container %}

<div class="container m-t-3">
    <div class="row">
        <div class="col-xs-12">
            <div id="event_form">
                {% if form.errors %}
                    <p style="color: red;">
                        {% trans "Please correct following" %} {% blocktrans count form.errors as counter %}error{% plural %}errors{% endblocktrans %}:
                    </p>
                {% endif %}
                <form action="" method="post">{% csrf_token %}
                    <legend><h1>{% trans "Create a group" %}</h1></legend>
                    <table>
                        {{ form.as_table }}
                    </table>
                    <div id="submit-button"><input type="submit" value="{% trans "Create" %}" /></div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
