{# Copyright: 2016 George Vlachos <george ät wikical dot com> #}
{% extends "base.html" %}
{% load i18n %}

{% block container %}

<div class="container m-t-3">
    <div class="row">
        <div class="col-xs-12 col-md-8 offset-md-2">
            <div id="event_form">
                <form action="" method="post">{% csrf_token %}
                    <div class="form-group row">
                        <legend class="col-lg-12"><h1>{% trans "Create a group" %}</h1></legend>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-12">
                            {% if form.errors or form.non_field_errors %}
                                <p class="text-danger">
                                    {% trans "Please correct the following" %} {% blocktrans count form.errors as counter %}error{% plural %}errors{% endblocktrans %}:
                                </p>
                            {% endif %}
                            {% if form.non_field_errors %}
                                {% for error in form.non_field_errors %}
                                    <div class="text-danger">{{ error }}</div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group row{% if form.name.errors %} text-danger{% endif %}">
                        <label for="id_name" class="col-lg-3 col-form-label">Name</label>
                        <div class="col-lg-9">
                            <input class="form-control" type="text" name="name" id="id_name" maxlength="80"/>
                            {% if form.name.errors %}{{ form.name.errors }}{% endif %}
                        </div>
                    </div>
                    <div class="form-group row{% if form.description.errors %} text-danger{% endif %}">
                        <label for="id_description" class="col-lg-3 col-form-label">Description</label>
                        <div class="col-lg-9">
                            <textarea rows="10" cols="40" class="form-control" name="description" id="id_description"></textarea>
                            {% if form.description.errors %}{{ form.description.errors }}{% endif %}
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-xs-12">
                            <div id="submit-button"><input type="submit" value="{% trans "Create" %}" /></div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
