{# Copyright: 2016 George Vlachos <george ät wikical dot com> #}
{% extends "base.html" %}
{% load i18n %}
{% block container %}


<div class="container m-t-3">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="m-b-2"> {% trans "My groups" %}:</h1>

            {% if groups %}
            <ul class="m-b-1">
                {% for group in groups %}
                    <li><a href="{% url "group_view" group.id  %}">{{ group.name }}</a></li>
                    <ul>
                        <li><a href="{% url "group_view" group.id  %}">{% trans "show all events in this group" %}</a></li>
                        <li><a href="{% url "group_invite" group.id  %}">{% trans "invite a user to this group" %}</a></li>
                        <li><a href="{% url "group_quit" group.id  %}">{% trans "leave this group" %}</a></li>
                    </ul>
                {% endfor %}
            </ul>

            <p><a href="{% url "group_new"  %}">{% trans "Create a new group." %}</a></p>
            {% else %}
                <p>{% trans "You are not a member of any group." %}</p>
                <p><a href="{% url "group_new"  %}">{% trans "Create a new group." %}</a>.</p>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}

