""" configuration file for local installations of the source tree """
# vi:expandtab:tabstop=4 shiftwidth=4 textwidth=79

from settings_base import *
from settings_debug import * # Include this when debugging

import os
import socket
from subprocess import Popen, PIPE

# Make this random and unique; and don't share it with anybody.
SECRET_KEY = 'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa$'

# host IP
try:
    HOST_IP = socket.gethostbyname(socket.gethostname())
except:
    HOST_IP = "127.0.0.1"

# ======================================================================
# imap settings for getting events as emails
# ======================================================================
IMAP_SERVER = ''
IMAP_LOGIN = ''
IMAP_PASSWD = ''
IMAP_SSL = False

# ======================================================================
# geonames settings
# ======================================================================

# This is used for getting the coordinates from a location using the API of
# GeoNames.org. You need to register here http://www.geonames.org/login and
# then activate the use of the API in your account.
GEONAMES_USERNAME = 'your_geonames.org_username'
GEONAMES_URL = 'https://secure.geonames.net/'

# Default value for distance unit, possible values are: 'km' and 'mi'
DISTANCE_UNIT_DEFAULT = 'km' # alternative: 'mi'

# events within this radius of the center of city are considered to be in the
# city. DISTANCE_UNIT_DEFAULT is the unit.
CITY_RADIUS = 50

# ======================================================================
# debug settings
# ======================================================================

DEBUG = True
TEMPLATE_DEBUG = DEBUG

# http://docs.djangoproject.com/en/dev/ref/settings/#internal-ips
# Also used by the toolbar middleware, see
# /usr/share/doc/python-django-debug-toolbar/README.Debian and
# /usr/share/doc/python-django-debug-toolbar/README.rst.gz
INTERNAL_IPS = ('127.0.0.1',)

if DEBUG:
    TEMPLATE_STRING_IF_INVALID = 'STRING_NOT_SET'

# ======================================================================
# cache settings
# ======================================================================
# http://docs.djangoproject.com/en/dev/topics/cache/

# CACHE_BACKEND = 'locmem://'
# CACHE_MIDDLEWARE_KEY_PREFIX = '%s_' % PROJECT_NAME
# CACHE_MIDDLEWARE_SECONDS = 600


# ======================================================================
# email and error-notify settings
# ======================================================================

ADMINS = (
    ('SURNAME NAME', 'EMAIL'),
)

MANAGERS = ADMINS

USERNAMES_TO_MAIL_WHEN_DEBUGGING = ('ivan',)

# used for messages sent. You can set it to None to avoid emails having the
# header reply-to
REPLY_TO = 'None'

DEFAULT_FROM_EMAIL = ''
SERVER_EMAIL = ''
EMAIL_SUBJECT_PREFIX = ''

EMAIL_HOST = '127.0.0.1'
EMAIL_PORT = 25
EMAIL_HOST_USER = ''
EMAIL_HOST_PASSWORD = ''
EMAIL_USE_TLS = False

# see http://docs.djangoproject.com/en/dev/howto/error-reporting/
SEND_BROKEN_LINK_EMAILS = True

# ======================================================================
# LOG PIPE
# ======================================================================

# If this value is not False, events changes will be logged to this pipe
# Make sure it is writtable
# Use LOG_PIPE=False when testing
LOG_PIPE = '/tmp/gricallogpipe-dev'
# LOG_PIPE = False
# the group id. Should be group id of the proccess running Django
LOG_PIPE_GID = 33

# ======================================================================
# IRC
# ======================================================================

# to log events changes ( see LOG_PIPE ) to a IRC channel, run the script
# irclogger.py

IRC_NETWORK = 'irc.freenode.net'
IRC_PORT = 6667
IRC_CHANNEL = '#test'
IRC_NICK = 'test'
IRC_NAME = 'test'

# ======================================================================
# database settings
# ======================================================================

DATABASES = {  
    'default': {  
         'ENGINE': 'django.contrib.gis.db.backends.postgis',
         'NAME': 'testbed',
         'USER': 'tester',           
         'PASSWORD': 'a_password',
     }
}
