""" configuration file for local installations of the source tree """
# vi:expandtab:tabstop=4 shiftwidth=4 textwidth=79

from settings_base import *
from settings_debug import * # Include this when debugging

# Make this random and unique; and don't share it with anybody.
SECRET_KEY = 'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa$'

DATABASES = {  
    'default': {  
         'ENGINE': 'django.contrib.gis.db.backends.postgis',
         'NAME': 'testbed',
         'USER': 'tester',           
         'PASSWORD': 'a_password',
     }
}

ADMINS = (
    ('Administrator', 'root@localhost'),
)
MANAGERS = ADMINS

# This is used for getting the coordinates from a location using the API of
# GeoNames.org. You need to register here http://www.geonames.org/login and
# then activate the use of the API in your account.
GEONAMES_USERNAME = 'your_geonames.org_username'
GEONAMES_URL = 'https://secure.geonames.net/'
