{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Password reset" %}{% endblock %}

{% block column1 %}

<h1>{% trans "Password reset" %}</h1>

<p>{% trans "Forgot your password? Enter your e-mail address below. We'll e-mail you instructions for setting a new one." %}</p>

<!-- TODO think of pros and cons of using the action url "url django.contrib.auth.views.password_reset"  -->
<form action="" method="post">
{{ form.email.errors }}
<p>
<label for="id_email">{% trans 'E-mail address:' %}</label>
{{ form.email }}
<input type="submit" value="{% trans 'Reset my password' %}" />
</p>
</form>

{% endblock %}
