{% extends "base.html" %}
{% load i18n %}

{% block column1 %}
<h1>{% trans "Create a new account" %}</h1>
<br />
<form action="{% url registration_register %}" method="POST">
<table>
<tr>
    <td align="right" valign="top">{% trans "Username" %}:</td>
    <td>
        {{ form.username }} <br/>
        {% for error in form.username.errors %}
        <span style="color:red">{{ error }}</span>
        {% endfor %}
    </td>
</tr>
<tr>
    <td align="right" valign="top">{% trans "Email" %}:</td>
    <td>
        {{ form.email }} <br/>
        {% for error in form.email.errors %}
        <span style="color:red">{{ error }}</span>
        {% endfor %}
    </td>
</tr>
<tr>
    <td align="right" valign="top">{% trans "Password" %}:</td>
    <td>
        {{ form.password1 }} <br/>
        {% for error in form.password1.errors %}
        <span style="color:red">{{ error }}</span>
        {% endfor %}
    </td>
</tr>
<tr>
    <td align="right" valign="top">{% trans "Password (again)" %}:</td>
    <td>
        {{ form.password2 }} <br/>
        {% for error in form.password2.errors %}
        <span style="color:red">{{ error }}</span>
        {% endfor %}
    </td>
</tr>
<tr>
    <td>&nbsp;</td>
    <td><input type="submit" value="Register" /></td>
</tr>
</table>
</form>
{% endblock %}
