{% extends "base.html" %}
{% load i18n %}
{% load humanize %}

{% block extraheaders %}
<link rel="alternate" type="application/rss+xml" title="RSS" href="{% url 'upcoming_events_rss' %}" />
{%endblock extraheaders %}

{% block container %}

    {% if not READ_ONLY %}
        <div id="simplified_container">
            <div id="simplified_event_form" class="container">{% comment %}FIXME: field labels can be long translations{% endcomment %}
                <form action="" method="post" id="gc-new-event-form" class="form-horizontal m-t-3 clearfix">{% csrf_token %}
                    <fieldset class="row">
                        <legend class="col-xs-12 col-sm-6 col-md-4">{% trans "Submit an event" %}</legend>
                        {{ form.non_field_errors }}
                        {# Include the hidden fields in the form #}
                        {% for hidden in form.hidden_fields %}
                            {{ hidden }}
                        {% endfor %}

                        <div class="clearfix">&nbsp;</div>

                        {% for field in form.visible_fields %}
                            <div class="form-group col-xs-12 col-sm-6 col-md-4{% if field.name = 'when' %} datePicker-outer{% endif %}">
                                <label class="control-label" for="simplified_event_{{ field.name }}">{{ field.label_tag }}</label>
                                <div>
                                    <input id="simplified_event_{{ field.name }}" name="{{ field.html_name }}" class="form-control input-md{% if field.name = 'when' %} datePicker{% endif %}" type="text">
                                    {% if field.help_text %}
                                        <span class="help-block">{{ field.help_text }}</span>
                                    {% endif %}
                                    {% if field.errors %}
                                        <div class="text-danger">{{ field.errors }}</div>
                                    {% else %}
                                        <div class="no-error">&nbsp;</div>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}

                        <div class="clearfix">&nbsp;</div>

                        <div class="form-group clearfix m-t-1 m-b-1">
                            <div class="col-xs-12">
                                <div id="submit-button"><input type="submit" value="{% trans "Submit" %}" /></div>
                            </div>
                        </div>

                    </fieldset>
                </form>

                <div id="alternatives">
                    {% trans "Alternatively:" %}
                    <a href="{% url 'event_new' %}">{% trans "extended form" %}</a>,
                    <a href="{% url 'event_new_raw' %}">{% trans "textarea" %}</a>
                    <br />
                </div>

            </div>
        </div>
    {% endif %}

    {% with eventdates=page.object_list %}
        {% include "boxes.html" %}
    {% endwith %}

    {% include "pagination.html" %}

{% endblock %}
