{% extends "base.html" %}
{% load i18n %}
{% load humanize %}

{% block container %}

<h1>{% trans "Deleted event" %}</h1>
<p>
    {% blocktrans with revision.date_created.date as date and revision.date_created.time as time and revisioninfo.reason as reason %}
        The following event was deleted {{ date }} at {{ time }} by {{ username }} given as reason: {{ reason }}.
    {% endblocktrans %}
    <pre>
{{ revisioninfo.as_text }}
    </pre>
</p>

{% if not READ_ONLY %}
    <p>
    {% if USER.is_authenticated %}
        <a href="{% url "event_undelete" event_id  %}">{% trans 'You can undelete it.' %}</a>
    {% else %}
        {% trans "If you were logged-in, you could undelete this event" %}
    {% endif %}
    </p>
{% endif %}

<div class="event_history">
    {% if revisions_diffs %}
        <h2>{% trans "History" %}</h2>
        {% for revision, diff in revisions_diffs %}
            {% if diff %}
                <h2> {{ revision.date_created.isoformat }}</h2>
                {{ diff|safe }} {# FIXME: when creating the html diff ensure escaping #}
            {% endif %}
        {% endfor %}
    {% else %}
        <p>{% trans "This event has no history so far" %}</p>
    {% endif %}
</div>

{% endblock %}

