{# Copyright: 2016 George Vlachos <george ät wikical dot com> #}
{% extends "base.html" %}
{% load i18n %}

{% block container %}

{% include "event_options.html" %}

{% block messages %}{% endblock %}

{% if messages %}
    {# see http://docs.djangoproject.com/en/1.3/ref/contrib/messages/ #}
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-lg-10 offset-lg-1">
                <ul class="messages">
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endif %}

<div id="event_form" class="container-fluid">
    <form action="" method="post">{% csrf_token %}
        {% if form.errors or form.non_field_errors or formset_url.errors or formset_url.non_form_errors or formset_session.errors or formset_session.non_form_errors or formset_deadline.errors or formset_deadline.non_form_errors %}
            <div class="row">
                <div class="text-danger col-xs-12 col-lg-10 offset-lg-1">
                    {% trans "The operation could not be performed because one or more error(s) occurred. Please resubmit the form after making the necessary changes. See the red remarks." %}
                </div>
            </div>
        {% endif %}

        {% if form.non_field_errors|length %}
            <div class="row">
                <div class="text-danger col-xs-12  col-lg-10 offset-lg-1">
                    {{ form.non_field_errors.as_ul }}
                </div>
            </div>
        {% endif %}

        {% with field=form.title maxlength="200" %}
            <div class="form-group row">
                <label for="id_{{ field.name }}" class="col-xs-12 col-lg-10 offset-lg-1 col-form-label">{% trans "Title" %}</label>
                <div class="col-xs-12 col-lg-10 offset-lg-1">
                    <input id="id_{{ field.name }}" name="{{ field.name }}" type="text" class="form-control"
                        {% if field.value %}value="{{ field.value }}"{% endif %}
                        {% if field.maxlength %}maxlength="{{ maxlength }}"{% endif %}/>
                    {% if field.help_text %}<div class="helptext">{{ field.help_text|safe }}</div>{% endif %}
                    {% if field.errors|length %}<div class="text-danger">{{ field.errors.as_ul }}</div>{% endif %}
                </div>
            </div>
        {% endwith %}

        {% with label_class="col-xs-12 col-lg-2 field_label" input_class="col-xs-12 col-lg-10" %}
        <div class="row">
            <div class="col-xs-12 col-lg-5 offset-lg-1">
                {% with field=form.acronym maxlength="20" %}
                    <div class="form-group">
                        <label for="id_{{ field.name }}" class="{{ label_class }}">{% trans "Acronym" %}</label>
                        <input id="id_{{ field.name }}" name="{{ field.name }}" type="text" class="{{ input_class }} field_input"
                            {% if field.value %}value="{{ field.value }}"{% endif %}
                            {% if field.maxlength %}maxlength="{{ maxlength }}"{% endif %}/>
                        {% if field.help_text %}<div class="helptext">{{ field.help_text|safe }}</div>{% endif %}
                        {% if field.errors|length %}<div class="text-danger">{{ field.errors.as_ul }}</div>{% endif %}
                    </div>
                {% endwith %}
                {% with field=form.startdate %}
                    <div class="clearfix form-group">
                        <label for="id_{{ field.name }}" class="{{ label_class}}">{% trans "Start date" %}</label>
                        <input id="id_{{ field.name }}" name="{{ field.name }}" type="text" class="{{ input_class }} field_input datePicker"
                            {% if field.value %}value="{{ field.value }}"{% endif %}
                            {% if field.maxlength %}maxlength="{{ maxlength }}"{% endif %}/>
                        {% if field.help_text %}<div class="helptext">{{ field.help_text|safe }}</div>{% endif %}
                        {% if field.errors|length %}<div class="text-danger">{{ field.errors.as_ul }}</div>{% endif %}
                    </div>
                {% endwith %}
                {% with field=form.starttime %}
                    <div class="clearfix form-group">
                        <label for="id_{{ field.name }}" class="{{ label_class }}">{% trans "Start time" %}</label>
                        <input id="id_{{ field.name }}" name="{{ field.name }}" type="text" class="{{ input_class }} field_input"
                            {% if field.value %}value="{{ field.value }}"{% endif %}
                            {% if field.maxlength %}maxlength="{{ maxlength }}"{% endif %}/>
                        {% if field.help_text %}<div class="helptext">{{ field.help_text|safe }}</div>{% endif %}
                        {% if field.errors|length %}<div class="text-danger">{{ field.errors.as_ul }}</div>{% endif %}
                    </div>
                {% endwith %}
                {% with field=form.enddate %}
                    <div class="clearfix form-group">
                        <label for="id_{{ field.name }}" class="{{ label_class }} datePicker">{% trans "End date" %}</label>
                        <input id="id_{{ field.name }}" name="{{ field.name }}" type="text" class="{{ input_class }} field_input datePicker"
                            {% if field.value %}value="{{ field.value }}"{% endif %}
                            {% if field.maxlength %}maxlength="{{ maxlength }}"{% endif %}/>
                        {% if field.help_text %}<div class="helptext">{{ field.help_text|safe }}</div>{% endif %}
                        {% if field.errors|length %}<div class="text-danger">{{ field.errors.as_ul }}</div>{% endif %}
                    </div>
                {% endwith %}
                {% with field=form.endtime %}
                    <div class="clearfix form-group">
                        <label for="id_{{ field.name }}" class="{{ label_class }} ">{% trans "End time" %}</label>
                        <input id="id_{{ field.name }}" name="{{ field.name }}" type="text" class="{{ input_class }} field_input"
                            {% if field.value %}value="{{ field.value }}"{% endif %}
                            {% if field.maxlength %}maxlength="{{ maxlength }}"{% endif %}/>
                        {% if field.help_text %}<div class="helptext">{{ field.help_text|safe }}</div>{% endif %}
                        {% if field.errors|length %}<div class="text-danger">{{ field.errors.as_ul }}</div>{% endif %}
                    </div>
                {% endwith %}
                {% with field=form.timezone %}
                    <div class="clearfix form-group">
                        <label for="id_{{ field.name }}" class="{{ label_class }} ">{% trans "Timezone" %}</label>
                        <div class="{{ input_class }} select_field">
                            {{ field.as_widget }}
                        </div>
                        {% if field.help_text %}<div class="helptext">{{ field.help_text|safe }}</div>{% endif %}
                        {% if field.errors|length %}<div class="text-danger">{{ field.errors.as_ul }}</div>{% endif %}
                    </div>
                {% endwith %}
                {% with field=form.tags maxlength="255" %}
                    <div class="clearfix form-group">
                        <label for="id_{{ field.name }}" class="{{ label_class }} ">{% trans "Tags" %}</label>
                        <input id="id_{{ field.name }}" name="{{ field.name }}" type="text" class="{{ input_class }} field_input"
                            {% if field.value %}value="{{ field.value }}"{% endif %}
                            {% if field.maxlength %}maxlength="{{ maxlength }}"{% endif %}/>
                        {% if field.help_text %}<div class="helptext">{{ field.help_text|safe }}</div>{% endif %}
                        {% if field.errors|length %}<div class="text-danger">{{ field.errors.as_ul }}</div>{% endif %}
                    </div>
                {% endwith %}
                {% with field=form.city maxlength="50" %}
                    <div class="clearfix form-group">
                        <label for="id_{{ field.name }}" class="{{ label_class }} ">{% trans "City" %}</label>
                        <input id="id_{{ field.name }}" name="{{ field.name }}" type="text" class="{{ input_class }} field_input"
                            {% if field.value %}value="{{ field.value }}"{% endif %}
                            {% if field.maxlength %}maxlength="{{ maxlength }}"{% endif %}/>
                        {% if field.help_text %}<div class="helptext">{{ field.help_text|safe }}</div>{% endif %}
                        {% if field.errors|length %}<div class="text-danger">{{ field.errors.as_ul }}</div>{% endif %}
                    </div>
                {% endwith %}
                {% with field=form.country %}
                    <div class="clearfix form-group">
                        <label for="id_{{ field.name }}" class="{{ label_class }} ">{% trans "Country" %}</label>
                        <div class="{{ input_class }} select_field">
                            {{ field.as_widget }}
                        </div>
                        {% if field.help_text %}<div class="helptext">{{ field.help_text|safe }}</div>{% endif %}
                        {% if field.errors|length %}<div class="text-danger">{{ field.errors.as_ul }}</div>{% endif %}
                    </div>
                {% endwith %}
                {% with field=form.address %}
                    <div class="clearfix form-group">
                        <label for="id_{{ field.name }}" class="col-form-label">{% trans "Location" %}</label>
                        <textarea id="id_{{ field.name }}" rows="10" cols="40" name="{{ field.name }}">{% if field.value %}{{ field.value }}{% endif %}</textarea>
                        {% if field.help_text %}<div class="helptext">{{ field.help_text|safe }}</div>{% endif %}
                        {% if field.errors|length %}<div class="text-danger">{{ field.errors.as_ul }}</div>{% endif %}
                    </div>
                {% endwith %}
            </div>
            {% endwith %}

            {% with label_class="col-xs-12 col-lg-3 field_label" input_class="col-xs-12 col-lg-9" %}
            <div class="col-xs-12 col-lg-5">
                {% with field=form.exact %}
                    <div class="form-group">
                        <label for="id_{{ field.name }}" class="{{ label_class }}">{% trans "Exact coordinates" %}</label>
                        <div class="{{ input_class }} select_field">
                            {{ field.as_widget }}
                        </div>
                        <div class="clearfix"></div>
                        {% if field.help_text %}<div class="helptext">{{ field.help_text|safe }}</div>{% endif %}
                        {% if field.errors|length %}<div class="text-danger">{{ field.errors.as_ul }}</div>{% endif %}
                    </div>
                {% endwith %}
                {% with field=form.coordinates maxlength="50" %}
                    <div class="form-group">
                        <label for="id_{{ field.name }}" class="{{ label_class }} ">{% trans "Coordinates" %}</label>
                        <input id="id_{{ field.name }}" name="{{ field.name }}" type="text" class="{{ input_class }} field_input"
                            onblur="updateMap(this.value)"
                            {% if field.value %}value="{{ field.value }}"{% endif %}
                            {% if field.maxlength %}maxlength="{{ maxlength }}"{% endif %}/>
                            <div class="clearfix"></div>
                            {% if field.errors|length %}<div class="text-danger m-t-1">{{ field.errors.as_ul }}</div>{% endif %}
                            <div class="helptext m-t-1">{% trans "You can click on the map to change the coordinates" %}</div>
                        <div id="map" class="smallmap"></div>
                    </div>
                {% endwith %}
            </div>
        </div>
        {% endwith %}

        {% with field=form.description maxlength="200" %}
            <div class="form-group row">
                <label for="id_{{ field.name }}" class="col-xs-12 col-lg-10 offset-lg-1 col-form-label">{% trans "Description" %}</label>
                <div class="col-xs-12 col-lg-10 offset-lg-1">
                    {% if field.help_text %}<div class="helptext">{{ field.help_text|safe }}</div>{% endif %}
                    <textarea id="id_{{ field.name }}" rows="10" cols="40" name="description">{% if field.value %}{{ field.value }}{% endif %}</textarea>
                    {% if field.errors|length %}<div class="text-danger">{{ field.errors.as_ul }}</div>{% endif %}
                </div>
            </div>
        {% endwith %}

        {% trans "Web addresses (URLs)" as url_field_title %}
        {% with field=formset_url field_title=url_field_title %}
            <div id="urls-form"  class="formset form-group row">
                <h2 class="col-xs-12 col-lg-10 offset-lg-1">{{ field_title }}</h2>
                {# the next code is inspired on http://djangosnippets.org/snippets/1442/ #}
                <div class="col-xs-12 col-lg-10 offset-lg-1">{{ field.management_form }}</div>
                {{ field.non_form_errors.as_ul }}
                <table id="url_table" class="col-xs-12 col-lg-10 offset-lg-1">
                    {% for form in field.forms %}
                        {% if forloop.first %}
                            <thead>
                                <tr>
                                {% for field in form.visible_fields %}
                                    <th>{{ field.label|capfirst }}</th>
                                {% endfor %}
                                </tr>
                                <tr class="formset-field-error-list">
                                {% for field in form.visible_fields %}
                                    <td class="text-danger">{{ field.errors.as_ul }}</td>
                                {% endfor %}
                                </tr>
                            </thead>
                        {% endif %}
                        <tr>
                            {% for field in form.visible_fields %}
                                <td {% if field.errors %}class="text-danger"{% endif %}>
                                    {# Include the hidden fields in the form #}
                                    {% if forloop.first %}
                                        {% for hidden in form.hidden_fields %}
                                            {{ hidden }}
                                        {% endfor %}
                                    {% endif %}
                                    {{ field }}
                                </td>
                            {% endfor %}
                            {% if form.non_field_errors %}
                                <td colspan="{{ form.visible_fields|length }}">
                                    {{ form.non_field_errors.as_ul }}
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </table>
            </div>
        {% endwith %}

        {% trans "Sessions within the event" as sessions_field_title %}
        {% with field=formset_session field_title=sessions_field_title %}
            <div id="urls-form"  class="formset form-group row">
                <h2 class="col-xs-12 col-lg-10 offset-lg-1">{{ field_title }}</h2>
                {# the next code is inspired on http://djangosnippets.org/snippets/1442/ #}
                <div class="col-xs-12 col-lg-10 offset-lg-1">{{ field.management_form }}</div>
                {{ field.non_form_errors.as_ul }}
                <table id="session_table" class="col-xs-12 col-lg-10 offset-lg-1">
                    {% for form in formset_session.forms %}
                        {% if forloop.first %}
                            <thead>
                                <tr>
                                {% for field in form.visible_fields %}
                                    <th>{{ field.label|capfirst }}</th>
                                {% endfor %}
                                </tr>
                                <tr class="formset-field-error-list">
                                {% for field in form.visible_fields %}
                                    <td class="text-danger">{{ field.errors.as_ul }}</td>
                                {% endfor %}
                                </tr>
                            </thead>
                        {% endif %}
                        <tr>
                            {% for field in form.visible_fields %}
                                <td {% if field.errors %}class="text-danger"{% endif %}>
                                    {# Include the hidden fields in the form #}
                                    {% if forloop.first %}
                                        {% for hidden in form.hidden_fields %}
                                            {{ hidden }}
                                        {% endfor %}
                                    {% endif %}
                                    {{ field }}
                                </td>
                            {% endfor %}
                            {% if form.non_field_errors %}
                                <td>
                                    {{ form.non_field_errors.as_ul }}
                                </td>
                            {% endif %}
                        </tr>
                        {% if form.non_field_errors %}
                        <tr>
                            <td colspan="{{ form.visible_fields|length }}">
                                {{ form.non_field_errors.as_ul }}
                            </td>
                        </tr>
                        {% endif %}

                    {% endfor %}
                </table>
            </div>
        {% endwith %}

        {% trans "Special dates / deadlines" as deadlines_field_title %}
        {% with field=formset_deadline field_title=deadlines_field_title %}
            <div id="urls-form"  class="formset form-group row">
                <h2 class="col-xs-12 col-lg-10 offset-lg-1">{{ field_title }}</h2>
                {# the next code is inspired on http://djangosnippets.org/snippets/1442/ #}
                <div class="col-xs-12 col-lg-10 offset-lg-1">{{ field.management_form }}</div>
                {{ field.non_form_errors.as_ul }}
                <table id="deadline_table"  class="col-xs-12 col-lg-10 offset-lg-1">
                    {% for form in formset_deadline.forms %}
                        {% if forloop.first %}
                            <thead>
                                <tr>
                                {% for field in form.visible_fields %}
                                    <th>{{ field.label|capfirst }}</th>
                                {% endfor %}
                                </tr>
                                <tr class="formset-field-error-list">
                                {% for field in form.visible_fields %}
                                    <td class="text-danger">{{ field.errors.as_ul }}</td>
                                {% endfor %}
                                </tr>
                            </thead>
                        {% endif %}
                        <tr>
                            {% for field in form.visible_fields %}
                                <td {% if field.errors %}class="text-danger"{% endif %}>
                                    {# Include the hidden fields in the form #}
                                    {% if forloop.first %}
                                        {% for hidden in form.hidden_fields %}
                                            {{ hidden }}
                                        {% endfor %}
                                    {% endif %}
                                    {{ field }}
                                </td>
                            {% endfor %}
                        </tr>
                        {% if form.non_field_errors %}
                        <tr>
                            <td colspan="{{ form.visible_fields|length }}">
                                {{ form.non_field_errors.as_ul }}
                            </td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                </table>
            </div>
        {% endwith %}


        <div class="form-group row">
            <div class="col-xs-12 col-lg-10 offset-lg-1">
                {% include "also_recurrences_form.html" %}
            </div>
        </div>

        <div class="form-group row">
            <div class="col-xs-12 col-lg-10 offset-lg-1">
                <div id="submit-button"><input type="submit" value="{% trans "Save" %}" /></div>
            </div>
        </div>

    </form>
</div>

{% comment %}
<div class="info">
    {% if event_id %}
        <a href="{% url "event_edit_raw" event_id  %}">{% trans "edit as text" %}</a>
    {% else %}
        {# user is creating a new event, not editing a old event #}
        <a href="{% url "event_new_raw"  %}">{% trans "edit as text" %}</a>
    {% endif %}
    ({% trans "Warning: unsaved changes in the form above will be lost" %})
</div>
{% endcomment %}

{# Using local OpenLayers.js because of Mixed content restrictions #}
{# TODO: Replace with bower #}
<script type="text/javascript" src="{{ STATIC_URL }}js/OpenLayers.js"></script>
<script type="text/javascript">
//<![CDATA[

window.onload=init;

// we define the function 'trim' for Strings if not present:
if(typeof(String.prototype.trim) === "undefined") {
    String.prototype.trim = function() {
        return String(this).replace(/^\s+|\s+$/g, '');
    };
}

var map, pois, icon;
OpenLayers.Control.Click = OpenLayers.Class(OpenLayers.Control, {
    defaultHandlerOptions: {
        'single': true,
        'double': false,
        'pixelTolerance': 0,
        'stopSingle': false,
        'stopDouble': false
    },

    initialize: function(options) {
        this.handlerOptions = OpenLayers.Util.extend(
            {}, this.defaultHandlerOptions
        );
        OpenLayers.Control.prototype.initialize.apply(
            this, arguments
        );
        this.handler = new OpenLayers.Handler.Click(
            this, {
                'click': this.trigger
            }, this.handlerOptions
        );
    },

    trigger: function(e) {
        // e.xy contains the point in pixels
        var lonlat = map.getLonLatFromViewPortPx(e.xy);
        // lonlat are in EPSG:900913 (meters)
        pois.clearMarkers();
        pois.addMarker(
            new OpenLayers.Marker(
                new OpenLayers.LonLat( lonlat.lon, lonlat.lat ),
                icon
            )
        );
        var proj = new OpenLayers.Projection("EPSG:4326");
        lonlat.transform( map.getProjectionObject(), proj );
        document.getElementById('id_coordinates').value = lonlat.lat + ", " + lonlat.lon;
    }

});
function init() {
    icon = new OpenLayers.Icon(
        "{{ STATIC_URL }}marker_red.png",
        new OpenLayers.Size( 40, 40 ),
        new OpenLayers.Pixel( -20, -20 )
    ) ;
    map = new OpenLayers.Map(
        "map",
        {
            controls:[
                new OpenLayers.Control.Navigation(),
                new OpenLayers.Control.PanZoomBar(),
                new OpenLayers.Control.LayerSwitcher(),
                new OpenLayers.Control.MousePosition(),
                new OpenLayers.Control.Attribution()],
            projection: new OpenLayers.Projection( "EPSG:900913" ), // meters mercator projection
            displayProjection: new OpenLayers.Projection( "EPSG:4326" ) // lat/lon
        }
    ) ;
    map.addLayer( new OpenLayers.Layer.OSM() );

    pois = new OpenLayers.Layer.Markers( "Marker" );
    map.addLayer( pois );

    {% if form.instance.coordinates and form.instance.exact %}
        mark(
                {{ form.instance.latitude }},
                {{ form.instance.longitude }}
        );
    {% else %}
        {% if form.instance.coordinates %}
            map.setCenter(
                new OpenLayers.LonLat({{ form.instance.longitude }}, {{ form.instance.latitude }}).transform(
                        new OpenLayers.Projection( "EPSG:4326" ),
                        map.getProjectionObject()),
                10);
        {% else %}
            map.setCenter(new OpenLayers.LonLat(0, 0), 2, true, true);
        {% endif %}
    {% endif %}

    var click = new OpenLayers.Control.Click();
    map.addControl(click);
    click.activate();
}

function mark( lat, lon ) {
    var marker = new OpenLayers.Marker(
        new OpenLayers.LonLat( lon, lat).transform(
            new OpenLayers.Projection( "EPSG:4326" ),
            map.getProjectionObject()
        ),
        icon
    )
    pois.addMarker( marker ) ;
    var mapArea = pois.getDataExtent().toArray();
    map.setCenter (
        new OpenLayers.LonLat( ( mapArea[0] + mapArea[2]) /2, ( mapArea[1] + mapArea[3] ) /2 ),
        map.getZoomForExtent( pois.getDataExtent(), true ) -1
    );
}

function updateMap( value ) {
    var latLon = value.trim().split(/\s*,\s*/) ;
    var lat = latLon[0] ;
    var lon = latLon[1] ;
    pois.clearMarkers();
    mark( lat, lon ) ;
}

//]]>
</script>

{% endblock %}

