{# Copyright: 2016 George Vlachos <george ät wikical dot com> #}
{% extends "base.html" %}
{% load i18n %}

{% block container %}

<div class="container m-t-3">
    <div class="row">
        <div class="col-xs-12">
            <h1>{% trans "Create a new event" %}:</h1>

            <div id="event_textarea_form">
                {% if form.errors or form.non_field_errors %}
                    <p class="text-danger">
                        {% trans "Please correct the following" %} {% blocktrans count form.errors as counter %}error{% plural %}errors{% endblocktrans %}:
                    </p>
                {% endif %}
                {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                        <div class="text-danger">{{ error }}</div>
                    {% endfor %}
                {% endif %}
                <form action="" method="post">{% csrf_token %}
                    <div class="form-group row{% if form.event_astext.errors %} text-danger{% endif %}">
                        <div class="col-lg-12">
                            {% if event_textarea %}
                                <textarea class="form-control" name="event_astext" rows="25" cols="80">{{ event_textarea }}</textarea>
                            {% else %}
                                <textarea class="form-control" name="event_astext" rows="25" cols="80">{{ template }}</textarea>
                            {% endif %}
                            {% if form.event_astext.errors %}{{ form.event_astext.errors }}{% endif %}
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-12">
                            <div id="submit-button"><input type="submit" value="{% trans "Save" %}" /></div>
                        </div>
                    </div>
                </form>
            </div>

            <br />

<h3>{% trans "Example with minimal information:" %}</h3>
<pre>
title: This is the title of the test event
start: 2010-04-27
web: http://www.example.com/
tags: tag
</pre>

<h3>{% trans "Example with all possible information:" %}</h3>
<pre>
acronym: GriCal
title: Grical presentation
start: 2010-12-29
starttime: 10:00
end: 2010-12-30
endtime: 18:00
timezone: Europe/Berlin
tags: calendar software open-source gridmind grical
urls:
    code    http://example.com
    web    http://example.com
address: Gleimstr. 6, Berlin 10439, DE
coordinates: 52.55247, 13.40364
deadlines:
    2009-11-01    visitor tickets
    2010-10-01    call for papers
sessions:
    2010-12-29    10:00-11:00    first presentation
    2010-12-29    15:00-16:00    second presentation
    2010-12-30    15:00-16:00    third presentation
description:

Grical will be presented
</pre>

<h3>{% trans "Example with recurring dates:" %}</h3>
<pre>
title: test
start: 2011-05-05
web: http://example.com
tags: linux test
recurring:
    2011-06-05
    2011-07-05
</pre>

        </div>
    </div>
</div>

{% endblock %}
