{# Copyright: 2016 George Vlachos <george ät wikical dot com> #}
{% extends "base.html" %}

{% load i18n %}
{% load event_tags %}
{% load urlsearch %}
{% load comments %}
{% load cache %}
{% load oembed_tags %}

{% block container %}

<div class="event_full container-fluid">

    {% cache 2592000 event_show_all READ_ONLY user.is_authenticated event.id event.version %}
    {% with start=event.startdate end=event.enddate %}

        <div class="row">

            <div class="item-nr col-xs-12 col-lg-10 offset-lg-1">{{ event.id }}</div>

            <div class="header col-xs-12 col-lg-10 offset-lg-1 bg-faded">
                <div id="title">

                    {% if event.recurring %}
                        <span class="ical_logo">
                            <a href="{% url "event_show_recurrences_ical" event.id  %}">
                                <img alt="ICAL recurrences" src="{{ STATIC_URL }}icalrecurrencesicon.png" />
                            </a>
                        </span>
                    {% else %}
                        <span class="ical_logo">
                            <a href="{% url "event_show_ical" event.id  %}">
                                <img alt="ICAL" src="{{ STATIC_URL }}icalicon.png"/>
                            </a>
                        </span>
                    {% endif %}

                    {% if event.acronym %}{{ event.acronym|escape }} - {% endif %}{{ event.title|escape }}
                </div>
                <div class="options">
                    {% if not READ_ONLY %}
                        <a href="{% url "event_edit" event.id  %}">{% trans "edit" %}</a>
                        &nbsp;|&nbsp;
                        <a href="{% url "event_edit_raw" event.id  %}"><span class="field_link">{% trans "edit&nbsp;as&nbsp;text" %}</span></a>
                        &nbsp;|&nbsp;
                    {% endif %}
                    <a href="{% url "event_history" event.id  %}">{% trans "history" %}</a>
                    {% if not READ_ONLY %}
                        &nbsp;|&nbsp;
                        <a href="{% url "event_new_copyraw" event.id  %}">{% trans "copy&nbsp;as&nbsp;text" %}</a>
                        {% if user.is_authenticated %}
                            &nbsp;|&nbsp;
                            <a href="{% url "group_add_event" event.id  %}">{% trans "add to group" %}</a>
                            &nbsp;|&nbsp;
                            <a href="{% url "event_edit_recurrences" event.id  %}">{% trans "recurrences" %}</a>
                            &nbsp;|&nbsp;
                            <a href="{% url "event_delete" event.id  %}">{% trans "delete" %}</a>
                        {% endif %}
                    {% endif %}
                </div>
            </div>

            <div class="m-t-1 item col-xs-12 col-lg-10 offset-lg-1">
                <!--
                <a href="{% url "event_show_ical" event.id  %}"><img alt="ICAL" src="{{ STATIC_URL }}icalicon.png" width="16" /></a>
                &nbsp;|&nbsp;
                -->
                <img class="icon" alt="ICAL" src="{{ STATIC_URL }}dates-icon.png" />
                <div class="data">
                    <span class="date"><a href='{% urlsearch query=start|date:"Y-m-d" %}'>{{ start }}</a></span>
                    {% if event.starttime %}
                        <span class="time">
                            {{ event.starttime|time }}
                        </span>{% if event.endtime %}
                        {% if not end or start == end %}
                            -<span class="time">{{ event.endtime|time }}</span>{% endif %}{% endif %}</span>
                        {% endif %}
                    {% if end and not start == end %}
                        : <span class="date"><a href='{% urlsearch query=end|date:"Y-m-d" %}'>{{ end }}</a></span>
                        {% if event.endtime %}
                            <span class="time">
                                {{ event.endtime|time }}
                            </span>
                        {% endif %}
                    {% endif %}
                </div>
            </div>

            {% if event.address or event.city or event.country or event.coordinates %}
                <div class="m-t-1 item col-xs-12 col-lg-10 offset-lg-1">
                    <img class="icon" src="{{ STATIC_URL }}venue-icon.png" alt="{% trans 'where' %}" />
                    <div class="data">
                        {% if event.address %}
                            {{ event.address }}
                            {% if event.country %}
                                <a href='{% urlsearch country=event.country %}'><img class="flag" src="{{ STATIC_URL }}flags/{{ event.country|lower }}.gif" /></a>
                            {% endif %}
                            {% if event.coordinates and event.exact %}
                                &nbsp; &#8212; &nbsp;
                            {% endif %}
                        {% else %}
                            {# we only display city and/or country if no address present, because the address should contain the city and the country #}
                            {% if event.city %}
                                <span class="field_city"><a href="{% urlsearch city=event.city country=event.country %}">{{ event.city|capfirst }}</a></span>
                                {% if event.country %}
                                    &nbsp;, &nbsp;
                                    <a href='{% urlsearch country=event.country %}'><img class="flag" src="{{ STATIC_URL }}flags/{{ event.country|lower }}.gif" /></a>
                                {% endif %}
                            {% endif %}
                            {% if event.country %}
                                <span class="field_country">
                                    <a href="{% urlsearch country=event.country %}">{{ event.countryname }}</a>
                                </span>
                                <a href='{% urlsearch country=event.country %}'><img class="flag" src="{{ STATIC_URL }}flags/{{ event.country|lower }}.gif" /></a>
                            {% endif %}
                            {% if event.coordinates and event.exact %}
                                &nbsp; &#8212; &nbsp;
                            {% endif %}
                        {% endif %}
                        {% if event.coordinates and event.exact %}
                            {{ event.coordinates.y }}, {{ event.coordinates.x }}
                            (&nbsp;<a href="http://www.openstreetmap.org/?mlat={{ event.coordinates.y }}&amp;mlon={{ event.coordinates.x }}&amp;zoom=15&amp;layers=B000FTF">OpenStreetMap</a>,&nbsp;<a href="http://maps.google.com?q={{ event.coordinates.y }},{{ event.coordinates.x }}">Google</a>&nbsp;)
                        {% endif %}
                    </div>
                </div>
            {% endif %}

            {% if event.get_tags %}
                <div class="m-t-1 item col-xs-12 col-lg-10 offset-lg-1">
                    <img class="icon" src="{{ STATIC_URL }}tags-icon.png" alt="{% trans 'tags' %}" />
                    <div class="tags data">
                        {% for tag in event.get_tags %}
                            <a href="{% urlsearch tag=tag %}">{{ tag }}</a>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}

            {% if recurrences %}{# is part of a serie as intermediate instance OR is master of a serie #}
                <div class="m-t-1 item col-xs-12 col-lg-10 offset-lg-1">
                    <h3>{% trans "Recurring dates" %}</h3>
                    <ul>
                        {% for event in recurrences %}
                            <li>{% include "event_show_small_start.html" %}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}

            {% if event.urls.all %}
                <div class="m-t-1 item col-xs-12 col-lg-10 offset-lg-1">
                    <img class="icon" src="{{ STATIC_URL }}links-icon.png" alt="{% trans 'urls' %}" />
                    <div class="data">
                        <ul class="urls">
                            {% for url in event.urls.all %}
                                <li>
                                    <a href="{{ url.url }}"><span class="url_name">{{ url.url_name|escape }}</span></a>
                                    <br />
                                    {% oembed 320x240 %} {{ url.url }} {% endoembed %}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endif %}

            {% with dates=event.custom_dates %}
                {% if dates %}
                    <div class="m-t-1 item col-xs-12 col-lg-10 offset-lg-1">
                        <img class="icon" src="{{ STATIC_URL }}deadlines-icon.png" alt="{% trans 'deadlines' %}" />
                        <div class="data">
                            <table class='table table-hover deadlines'>
                                {% for eventdate in dates %}
                                    <tr>
                                        <td>
                                            <span class="deadlines">
                                                <a href='{% urlsearch query=eventdate.eventdate_date|date:"Y-m-d" %}'>{{ eventdate.eventdate_date }}</a>
                                            </span>
                                            </td>
                                        <td>{{ eventdate.eventdate_name|escape }}</td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                {% endif %}
            {% endwith %}

            {% if event.sessions.all %}
                <div class="m-t-1 item col-xs-12 col-lg-10 offset-lg-1">
                    <img class="icon" src="{{ STATIC_URL }}deadlines-icon.png" alt="{% trans 'sessions' %}" />
                    <div class="data">
                        <table class="table table-hover sessions">
                            {% for session in event.sessions.all %}
                                <tr>
                                    <td><a href='{% urlsearch query=session.session_date|date:"Y-m-d" %}'>{{ session.session_date }}</a></td>
                                    <td>{{ session.session_starttime|time:"H:i" }} - {{ session.session_endtime|time:"H:i" }}</td>
                                    <td>{{ session.session_name|escape }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            {% endif %}

            {% if event.description %}
                <div class="m-t-1 item col-xs-12 col-lg-10 offset-lg-1">
                    <h2>{% trans "Description" %}</h2>
                    <div>{% spaceless %}
                        {% if rst2html %}
                            {{ rst2html|safe }}
                        {% else %}
                            {{ event.description|escape|linebreaksbr|urlize }}
                        {% endif %}
                    {% endspaceless %}</div>
                </div>
            {% endif %}

            {% if event.coordinates %}
                <div class="item clearfix col-xs-12 col-lg-10 offset-lg-1">
                    {# see example http://openlayers.org/dev/examples/xhtml.html #}
                    <div id="map" class="smallmap"></div>
                    {# Using local OpenLayers.js because of Mixed content restrictions #}
                    {# TODO: Replace with bower #}
                    <script type="text/javascript" src="{{ STATIC_URL }}js/OpenLayers.js"></script>
                    <script defer="defer" type="text/javascript">
                    //<![CDATA[
                        function marker( lon, lat, image ) {
                            return new OpenLayers.Marker(
                                new OpenLayers.LonLat( lon, lat ).transform(
                                    new OpenLayers.Projection( "EPSG:4326" ),
                                    map.getProjectionObject()
                                ),
                                new OpenLayers.Icon( image, new OpenLayers.Size( 32, 32 ), new OpenLayers.Pixel( -16, -16 ) )
                            );
                        }
                        map = new OpenLayers.Map( "map", {
                                controls:[
                                    new OpenLayers.Control.Navigation(),
                                    new OpenLayers.Control.PanZoomBar(),
                                    new OpenLayers.Control.LayerSwitcher(),
                                    new OpenLayers.Control.Attribution()],
                                projection: new OpenLayers.Projection( "EPSG:900913" ),
                                displayProjection: new OpenLayers.Projection( "EPSG:4326" )
                        } );
                        map.addLayer( new OpenLayers.Layer.OSM() );
                        {% if event.exact %}
                            var pois = new OpenLayers.Layer.Markers( "{% trans "Marker" %}" );
                            pois.addMarker( this.marker( {{ event.coordinates.x }}, {{ event.coordinates.y }}, "{{ STATIC_URL }}marker_red.png" ) );
                            map.addLayer( pois );
                            mapArea = pois.getDataExtent().toArray();
                            // map.zoomToMaxExtent();
                            map.setCenter (
                                new OpenLayers.LonLat( ( mapArea[0] + mapArea[2]) /2, ( mapArea[1] + mapArea[3] ) /2 ),
                                map.getZoomForExtent( pois.getDataExtent(), true ) -1
                            );
                        {% else %}
                            map.setCenter(
                                new OpenLayers.LonLat({{ event.longitude }}, {{ event.latitude }}).transform(
                                        new OpenLayers.Projection( "EPSG:4326" ),
                                        map.getProjectionObject()),
                                10);
                        {% endif %}
                    //]]>
                    </script>
                </div>
            {% endif %}

        </div>

    {% endwith %}
    {% endcache %}

    {# comments #} {# TODO: make comment form available for non-logged-in users but with a captcha #}
    <div id="gc-comments" class="m-t-1 row">
        <div class="col-xs-12 col-lg-10 offset-lg-1">
            {% get_comment_count for event as comment_count %}
            <h2>{% trans "Comments" %}</h2>
            {% if comment_count > 0 %}
                {% render_comment_list for event %}
            {% else %}
                {% if READ_ONLY or not user.is_authenticated %}
                    <p>{% trans "There are so far no comments about this event." %}</p>
                {% endif %}
            {% endif %}
            {% if not READ_ONLY %}
                {% if user.is_authenticated %}
                    {% render_comment_form for event %}
                {% else %}
                    <p><a href="{% url "auth_login"  %}?next={% firstof request.path '/' %}">{% trans "Log in to add a comment." %}</a></p>
                    {# TODO: redirect user to the position to add a comment to this event after logging in #}
                {% endif %}
            {% endif %}
        </div>
    </div>

</div>
{% endblock %}
