{% load i18n %}

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <ul>
                {% for fil in USER.get_filters %}
                    <li>
                        <a href="{% url "search_query" fil.query|urlencode|iriencode  %}">{{ fil.name }}</a>
                        &nbsp;
                        {# TODO: cache #}
                        ({{ fil.matches_count }})
                        {% if not READ_ONLY %}
                            &nbsp;
                            <a href="{% url "filter_edit" fil.id  %}">edit</a>
                            &nbsp;
                            <a href="{% url "filter_drop" fil.id  %}">delete</a>
                            {% comment %}FIXME{% endcomment %}
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

