{% extends "admin/base.html" %}
{% load i18n %}

{% block title %}{{ title }} | {{ DOMAIN }} {% trans " site admin" %}{% endblock %}

{% block branding %}
<a href="{% url root %}"><img src="{{ MEDIA_URL }}gridcalendar-logo-small.png" alt="{{DOMAIN}}{% trans "logo" %}" /></a>
<h1 id="site-name">{{ DOMAIN }}  -  {% trans "Grid Calendar" %}</h1>
<h2>{% trans "open community driven calendar" %}</h2>
<h3 style="color:gray"> {% trans "preview version" %}</h3>
{% endblock %}

{% block nav-global %}{% endblock %}
