/* color values specified here are
    either used directly in html
    or in css with a comment referring to class name here */

.gc-colors-logo-green {
    color: #6BCE76;
}
.gc-colors-logo-red {
    color: #FF4C9A;
}
.gc-colors-logo-brown{
    color: #FF803C;
}
.gc-colors-logo-blue{
    color: #2DC1AB;
}

.gc-colors-bg-logo-green {
    background-color: #6BCE76;
}
.gc-colors-bg-logo-red {
    background-color: #FF4C9A;
}
.gc-colors-bg-logo-brown{
    background-color: #FF803C;
}
.gc-colors-bg-logo-blue{
    background-color: #2DC1AB;
}


.gc-labels-colors {
    color: #31AD9A;
}

.gc-buttons-color {
    color: #4CA856;
}

.gc-links-color {
    color: #31AD9A;
}
