/** event full **/

.event_full .item-nr {
    font-size: 0.8rem;
    text-align: right;
}

.event_full .header {
    background: none repeat scroll 0 0 black;
    border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
    color: #9DBCD3;
    display: inline-block;
    font-size: 1.1rem;
    margin-bottom: 1rem;
    padding: 0;
    width: 100%;
}
.event_full #title {
    display: inline-block;
    padding: 0.2rem 0.5rem;
}
.event_full .options {
    background-color: transparent;
    border: 3px solid white;
    border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
    color: #5E7C93;
    display: inline-block;
    float: right;
    font-size: 0.8rem;
    margin: 0;
    padding: 0.3rem 0.5rem;
    text-align: right;
}
.event_full .options a {
    text-decoration: none;
    color: white;
}
.event_full .data {
    display: inline-block;
    margin-left: .5rem;
}

.event_full .urls {
    margin-bottom: 0;
    padding-left: 0;
}


.event_full fieldset {
    background: none repeat scroll 0 0 #9DBCD3;
    border: 1px solid #2C516D;
    border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
    margin: 1.5rem 0.5rem;
    padding: 0.5rem 1rem;
}
.event_full .item {
    clear: both;
    margin: 0.5rem;
}
.event_full .icon {
    width: 1.5rem;
    position: absolute;
}
.event_full .ical_logo {
    margin: 0;
    vertical-align: middle;
}
.event_full {
    margin-top: 0rem;
}
.event_full .item-nr {
    font-size: 0.8rem;
    text-align: right;
}
.event_full .data {
    display: inline-block;
    margin-left: 2rem;
}
.event_full .urls, .event_full .urls ul, .event_full .urls li {
    display: inline ;
    margin: 0rem 1rem 1rem 0 ;
    -moz-padding-start: 0;
}
.event_full .urls li:before {
    content: "\00BB \0020";
    font-size: 1.4rem;
}
.event_full ul.urls li {
    max-width: 320px;
    display: block;
    float: left;
    font-size: 0.8rem;
    color: gray;
}
.event_full .url_name {
    font-size: 1.4rem;
    color: #546878;
}
.event_full td {
    border: 1px solid #aaa;
    padding:0.5rem;
}
.event_full table {
    display: inline;
    margin-top: 1rem;
    vertical-align: top;
}
.event_full #description {
    font-size: 90%;
}
