/* complete event form */
#event_form #title {
    margin: 0.5rem;
}
#event_form input#id_title {
    font-size: 150%;
    font-weight: bold;
    padding: 0.2rem;
    width: 98%;
    font-style: italic;
}
#event_form #id_description {
    height: 30rem;
    width: 100%;
}
#event_form #id_address {
    width: 30rem;
    height: 6rem;
}
#event_form input#id_tags {
    width: 30rem;
}
#event_form input#id_coordinates {
    width: 20rem;
}
.left-fields label {
    float: left;
    font-weight: bold;
    margin-right: 1rem;
    min-width: 8rem;
    text-align: right;
}
#event_form input:not([type="submit"]) {
    margin: 0.1rem 0 0.1rem 0;
}
#event_form td {
    font-size:0.8rem;
    color: gray;
    padding-bottom:1rem;
}
#event_form th {
    vertical-align:top;
}
/* urls-form */
#event_form #urls-form {
    margin: 0.5rem;
}
#event_form #url_table, #event_form #session_table, #event_form #deadline_table {
    margin-top:1.5rem;
}
#event_form #url_table th, #event_form #session_table th, #event_form #deadline_table th {
    text-align:center;
    color: #003a6b;
    font-weight: bold;
}
#event_form #url_table td, #event_form #session_table td, #event_form #deadline_table td {
    padding: 0.5rem 0.5rem 0.5rem 0;
    text-align:center;
}
#event_form #url_table input[name$="-url_name"] {
    width: 10rem;
}
#event_form #url_table input[name$="-url"] {
    width: 40rem;
}
#event_form #session_table th {
    padding: 0 1rem ;
}
#event_form #also_recurrences {
    font-size: 1rem;
    font-weight:bold;
    background: #AFC4D3;
    padding: 0; /* otherwise horizontal scroll appears */
    display: inline-block;
    margin: 1rem 0;
    width: 100%;
}
#event_form #also_recurrences ul {
    display: inline ;
}
#event_form #also_recurrences li {
    padding: 0;
}
#event_form #also_recurrences label {
    min-width: 0;
}
#event_form h2 {
    margin-top: 2rem;
    margin-bottom: 0;
}
#event_form #sessions-form {
    margin: 0.5rem;
}
#event_form #deadlines-form {
    margin: 0.5rem;
}
