/* general form directives */
form .helptext {
    color: #9DBCD3;
    font-size: 0.8rem;
}

form label {
    color: #2C516D;
    font-weight: bold;
    margin: 0;
    margin-top: .5rem;
}
input[type="text"], textarea, input[type="checkbox"] {
    border: 1px solid #3176B9;
}
form ul {
    list-style: none;
    padding: 0;
}
form li {
    padding: 0 ;
}

textarea {
    width: 100%;
}

/* errors produces by wrong entries in forms */
.errorlist {
    font-size:90%;
    color:red;
    margin: 1rem;
    padding: 0;
}

#submit-button input,
.small-submit-button input,
p.submit input{
    background-color: black;
    border: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1.4rem;
    color: white;
}
#submit-button input:hover,
.small-submit-button input:hover,
p.submit input:hover {
    background-color: #5E7C93;
}
.small-submit-button input,
#gc-comments p.submit input{
    font-size: 1.2rem;
}


#simplified_event_form form legend {
    margin-top: -1.2rem;
    color: #AFC4D3;
    background: none repeat scroll 0 0 black;
    border: 1px solid #2C516D;
    font-weight: bold;
    padding: 0.2rem 0.5rem;
    text-align: center;
    border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
}

#simplified_event_form fieldset {
    padding: 0.1rem 0.2rem 0.5rem;
    border:1px solid #2C516D;
    background: none repeat scroll 0 0 #9DBCD3;
    border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
}


#gc-event-recurrences td {
    padding-right: .5rem;
}
#gc-event-recurrences .gc-month {
    min-height: 14rem;
}
#gc-event-recurrences .cal-form-day-not-editable {
    color: red;
    text-align: right;
}

/*#simplified_event_form {
    display: inline-block;
}
#simplified_event_form .field {
    margin: 5px;
    display: inline-block;
}
#simplified_event_form label {
    position: relative;
}
#simplified_event_form input[type="checkbox"] {
}
#simplified_event_form .help_text {
    font-size:0.8rem;
}
#simplified_event_form textarea {
    height: 4rem;
}
#simplified_submit {
    display: inline;
    padding: 5px;
}*/
#alternatives {
    font-size: 0.8rem;
}

