{% extends "base.html" %}
{% load i18n %}

{% block column1 %}

<p>{% trans "Add event to group" %}:</p>
<div id="event_form">
    {% if form.errors %}
        <p style="color: red;">
            {% trans "Please correct following" %} {% blocktrans count form.errors as counter %}error{% plural %}errors{% endblocktrans %}:
        </p>
    {% endif %}
    <form action="" method="post">
        <table>
            {{ form.as_table }}
        </table>
        <input type="submit" value={% trans "Add" %}>
    </form>
</div>

{% endblock %}

{% block column2 %}
{% if user.username %}
<p>TODO If user has groups: Latest events in his groups:</p>
<ul>
    <li>group A</li>
    <ul>
        <li>event A.1</li>
        <li>event A.2</li>
    </ul>
    <li>group B</li>
    <ul>
        <li>event B.1</li>
        <li>event B.2</li>
    </ul>
</ul>
{% else %}
<p>TODO: Instructions how this site works]</p>
{% endif %}
{% endblock %}

{% block column3 %}
{% endblock %}
