{% extends "base.html" %}
{% load i18n %}

{% block feeds %}
<link rel="alternate" type="application/rss+xml" title="Group Feed" href="/rss/groupevents/{{group_id}}/{{user_id}}/{{hash}}/" />
{%endblock feeds%}

{% block column1 %}

{% if events %}

<p>

<a href="/g/feed/rss/{{group_id}}/{{user_id}}/{{hash}}/">
<img src="{{MEDIA_URL}}15px-Feed-icon.svg.png">
RSS
</a>

</p>

<p>

<a href="/g/{{group_id}}/ical/{{user_id}}/{{hash}}/">
<img width="16" src="{{MEDIA_URL}}icallogo.png">
iCal
</a>

</p>

<h3> {% trans "Events in this group" %}:</h3>
{% include "events/list_wrapper.html" %}
{% else %}

<p>{% trans "There are no events in this group" %}.</p>

{% endif %}



{% endblock %}

