{% load i18n %}

<p>{% trans "Next coming dates for events in your groups:" %}</p>
<ul>
    {% for group in USER.get_groups %}
        {% if group.has_coming_events %}
            <li>
                <a href="{% url list_events_group_ical_hashed group.id USER.id USER.get_hash %}">
                    <img alt="ICAL" src="{{ MEDIA_URL }}icalicon.png" /></a>
                <a href="{% url list_events_group_rss_hashed group.id USER.id USER.get_hash %}">
                    <img alt="RSS" src="{{ MEDIA_URL }}rssicon.png" /></a>
                <a href="{% url group_view group.id %}"> {{ group.name }} </a>
            </li>
            {% for event in group.get_coming_events %}
                <p> {% include "event_show_small.html" %} </p>
            {% endfor %}
            <hr />
        {% endif %}
    {% endfor %}
</ul>
