{% extends "base.html" %}
{% load i18n %}

{% block extraheaders %}
{% if user_is_in_group %}
    <link rel="alternate" type="application/rss+xml" title="Group Feed" href="{% url list_events_group_rss_hashed group.id USER.id USER.get_hash %}" />
{% else %}
    <link rel="alternate" type="application/rss+xml" title="Group Feed" href="{% url list_events_group_rss group.id %}" />
{% endif %}
{%endblock extraheaders %}

{% block column1 %}

<h1>
    {% blocktrans with group.name as name %}
        Group {{ name }}
    {% endblocktrans %}
</h1>

<h2> {% trans "Description" %} </h2>
<p> {{ group.description|urlize }} </p>

{% if user_is_in_group %}
    <a href="{% url list_events_group_rss_hashed group.id USER.id USER.get_hash %}">
            <img alt="RSS" src="{{MEDIA_URL}}rssicon.png" />
    </a>
    <a href="{% url list_events_group_ical_hashed group.id USER.id USER.get_hash %}">
        <img alt="ICAL" width="16" src="{{MEDIA_URL}}icalicon.png" />
    </a>
    {% if group.has_coming_events %}
        <h2> {% trans "Next coming dates for events of the group" %} </h2>
        {% for event in events %}
            <p> {% include "event_show_small.html" %} </p>
        {% endfor %}
    {% else %}
        <p>{% trans "There is no upcoming events." %}</p>
        {% comment %}TODO: show option to see past events {% endcomment %}
    {% endif %}
    <h2> {% trans "Members" %} </h2>
    <ul>
        {% for user in group.get_users %}
            <li> {{ user.username }} </li>
        {% endfor %}
    </ul>
{% else %}
    <a href="{% url list_events_group_rss group.id %}">
        <img alt="RSS" src="{{MEDIA_URL}}rssicon.png" />
    </a>
    <a href="{% url list_events_group_ical group.id %}">
        <img alt="ICAL" width="16" src="{{MEDIA_URL}}icalicon.png" />
    </a>
    {% if group.has_coming_public_events %}
        <h2> {% trans "Public coming events of this group" %} </h2>
        <ul>
            {% for event in events %}
                <li> {% include "event_show_small.html" %} </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>{% trans "This group has no coming public events." %}</p>
    {% endif %}
    {% comment %}TODO: link to ask to become a member of the group %}{% endcomment %}
{% endif %}


{% endblock %}
