{% extends "base.html" %}
{% load i18n %}

{% block feeds %}
<link rel="alternate" type="application/rss+xml" title="Group Feed" href="/feeds/groupevents/{{group_id}}/{{user_id}}/{{token}}/" />
{%endblock feeds%}

{% block column1 %}

{% if events %}

<p>

<a href="/rss/groupevents/{{group_id}}/{{user_id}}/{{token}}/">
<img src="/media/15px-Feed-icon.svg.png">
RSS
</a>

</p>

<p>

<a href="/ical/group/{{group_id}}/">
iCal for this group
</a>

</p>

<h3> {% trans "Events in this group" %}:</h3>
{% include "events/list_wrapper.html" %}
{% else %}

<p>{% trans "There are no events in this group" %}.</p>

{% endif %}



{% endblock %}

