{% extends "base.html" %}
{% load i18n %}
{% block column1 %}
<h3> {% trans "My groups" %}:</h3>

{% if groups %}
<ul>
    {% for group in groups %}
        <li><a href="{% url group_view group.id %}">{{ group.name }}</a></li>
        <ul>
            <li><a href="{% url group_view group.id %}">{% trans "show all events in this group" %}</a></li>
            <li><a href="{% url group_invite group.id %}">{% trans "invite a user to this group" %}</a></li>
            <li><a href="{% url group_quit_ask group.id %}">{% trans "leave this group" %}</a></li>
        </ul>
    {% endfor %}
</ul>
{% else %}
        <p>{% trans "No groups found!" %}</p>
{% endif %}

{% endblock %}

