<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
{% load i18n %}
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{ LANGUAGE_CODE }}" lang="{{ LANGUAGE_CODE }}">
<!-- This template is based on a template at http://matthewjamestaylor.com/ and is used with
permission of the original author -->
<head>
    <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />
    <meta http-equiv="Content-Language" content="{{ LANGUAGE_CODE }}" />
    <meta name="language" content="{{ LANGUAGE_CODE }}" />
    <meta name="description" content="{% trans "an open community driven calendar, tagged and localized events" %}" />
    <meta name="keywords" content="{% trans "events" %}, {% trans "calendar" %}, {% trans "community" %}, {% trans "open" %}, {% trans "social" %}" />
    <title>{{ title }}</title>
    <link href="{{ MEDIA_URL }}css/main.css" rel="stylesheet" type="text/css" media="screen, projection" />
    <link href="{{ MEDIA_URL }}css/print.css" rel="stylesheet" type="text/css" media="print" />
    <link rel="shortcut icon" href="{{ MEDIA_URL }}favicon.ico" />

    <!-- see http://en.wikipedia.org/wiki/Favicon -->
    <link rel="apple-touch-icon" href="{{ MEDIA_URL }}icon-apple-57x57.png" />
    {% block extraheaders %}{% endblock %}
    <!--
    <script type="text/javascript" src="{{ MEDIA_URL }}javascript/external.js"></script>
    -->
</head>
<body>
<div id="header">
  <a href="{{ PROTOCOL }}://{{ DOMAIN }}"><img src="{{ MEDIA_URL }}gridcalendar-logo-small.png" alt="{{ DOMAIN }} {% trans "logo" %}" /></a>
    <h1>{% trans "GridCalendar - Community Calendar" %}</h1>
    <h2>{% trans "An open community driven calendar" %}</h2>
    <h3 style="color:gray">{{ VERSION }}</h3>
    <div class="options_css_class">{% trans "events:" %} {{ EVENTS_NR }} | {% trans "users:" %} {{ USERS_NR }} | {% trans "groups:" %}{{ GROUPS_NR }}</div>
    <!-- menu if needed
    <ul>
        <li><a href="http://matthewjamestaylor.com/blog/perfect-3-column.htm">3 Column <span>Holy Grail</span></a></li>
        <li><a href="http://matthewjamestaylor.com/blog/perfect-3-column-blog-style.htm" class="active">3 Column <span>Blog Style</span></a></li>
    </ul>
    -->
    <div id="navigation">
        <div id="userlinks">
            {% if user.username %}
                {% blocktrans with user.username as username %}
                    Logged in as {{ username }}
                {% endblocktrans %}
                | <a href="{% url settings %}">{% trans "settings" %}</a>
                | <a href="{% url auth_logout %}">{% trans "logout" %}</a>
            {% else %}
                <a href="{% url registration_register %}">{% trans "Sign up" %}</a> | 
                <a href="{% url auth_login %}">{% trans "log in" %}</a>
            {% endif %}
        </div>
        <form action="{% url search %}" method="post">{% csrf_token %}
            <input type="text" size="40" name="query" value="{{ query }}">
            <input type="submit" value="{% trans "Search" %}">
        </form>
        <div id="sitelinks">
            <a href="{% url help %}">{% trans "help" %}</a>
            | <a href="{% url legal_notice %}">{% trans "legal notice" %}</a>
        </div>
        <!-- TODO: create a selectable list or link for changing the language, see
        http://docs.djangoproject.com/en/1.2/topics/i18n/internationalization/#the-set-language-redirect-view
        -->
    </div>
</div>

<div class="colmask doublepage">
    <div class="colleft">
        <div class="col1">
            <!-- Column 1 start -->
            {% block message_col1 %}
            {% if messages_col1 and messages_col1|length > 0 %}
                <div id="message_col1">
                    {% if messages_col1|length > 1 %}
                        <ul>
                            {% for message in messages_col1 %}
                            <li> {{ message }} </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        {{ messages_col1.0 }}
                    {% endif %}
                </div>
            {% endif %}
            {% endblock %}
            {% block column1 %}
            {% endblock %}
        </div>
        <div class="col2">
            <!-- Column 2 start -->
            {% block column2 %}
            {% endblock %}
        </div>
    </div>
</div>

<div id="footer">
</div>
</body>
</html>
