{% extends "base_2columns.html" %}
{% load i18n %}


{% block extraheaders %}
<link rel="alternate" type="application/rss+xml" title="RSS" href="{% url public_upcoming_events_rss %}" />
{%endblock extraheaders %}

{% block column1 %}

<br />

{% if events %}
    {% for event in events %}
        {% include "event_show_medium.html" %}
    {% endfor %}
{% endif %}

{% endblock %}


{% block column2 %}

    <br />
    <div id="simplified_event_form">{% comment %}FIXME: field labels can be long translations{% endcomment %}
        <form action="" method="post">{% csrf_token %}
            <fieldset>
                <legend>{% trans "Submit an event" %}</legend>
                {% for field in form.visible_fields %}
                    {# Include the hidden fields in the form #}
                    {% if forloop.first %}
                        {% for hidden in form.hidden_fields %}
                            {{ hidden }}
                        {% endfor %}
                    {% endif %}
                    {{ field.errors }}
                    <div class="field">{{ field.label_tag }} {{ field }}</div>
                    <div class="help_text">{{ field.help_text }}</div>
                {% endfor %}
                <input type="submit" value="{% trans "Submit" %}" />
            </fieldset>
        </form>
    </div>

    <p>
        <a href="{% url event_new_raw %}">{% trans "You can alternatively submit an event with a single textarea" %}</a>
    </p>

    {% comment %}
    {% if user.username %}
    <p class="info">{% trans "Change what is displayed here in" %}:
        <a href="{% url settings %}">{% trans "filters" %}</a></p>
    {% endif %}
    {% endcomment %}

    {% include "events_in_groups_or_intro.html" %}

{% endblock %}
