{% load i18n %}

{% if user.username %}
    <p align="right"><a href="/g/new/">{% trans "Create a new group" %}</a></p>
    <h2 align="center">{% trans "Coming events in my groups" %}</h2>

    {% if group_events %}
        {% for g in group_events %}
            Group: {{g.group_name}}<br>
            {% for event in g.el %}
            <p>
            <div class="field">
                <a href="/e/show/{{ event.id }}/">{{ event.title }}</a><br />
                <span class="field_dates">{{ event.start }} {% if event.end %} : {{ event.end }} {% endif %}
                </span>
            </div>
            </p>
            {% endfor %}
    <hr />
        {% endfor %}
    {% else %}
            <p>No events found!</p>
    {% endif %}
{% else %}
    <h2>{% trans "What is CLOCA.net?" %}</h2>
    <p>
    {% trans "Cloud Calendar (abbreviated as 'CLOCA'), is a web site where people store quickly a few information about interesting events, so that others can also easily know about it. Cloca makes easy and fast for its users to store interesting events in its own external calendars" %}.</p>
    <p>
    {% trans "Once you have an account, you can be a member of a private group and also create groups and invite others. Members of private groups can add events marked as private to be seen only by the group members. They can also mark public events as interesting for a group, so that the members of the group will be notified" %}.</p>
    <p><a href="/a/accounts/register/">{% trans "Create an account now" %}</a></p>
{% endif %}
