{% load i18n %}

{% trans "Example of event text sourcecode" %}:
<pre>
acronym: ACRO
title: This is the title of the test event
description: This is a test description aaa.
start: 2010-04-27
end: 2010-04-30
city: Berlin
country: DE
address: Random Street 3
longitude: 13.83245
latitude: 50.32323
timezone: 60
urls: http://www.example.com/
    another url: http://www.example.org/
deadlines:
    paper submission deadline: 2009-12-17
sessions:
    day 1: 2010-04-27: 09:00-20:00
    day 2: 2010-04-28: 09:00-15:30
    day 3: 2010-04-29: 11:15-20:00
    day 4: 2010-04-30: 09:00-17:00
tags: tag
public: True
</pre>
