{% load i18n %}

<span class="field_dates">
  {% if event.upcoming != event.start and event.upcoming != event.end %}
  ( {{ event.upcoming }} )
  {% endif %}
  {{ event.start }} {% if event.end %} : {{ event.end }} {% endif %}
</span>
<span class="field_title"><a href="{% url event_show_all event.id %}"> {{ event.title }} </a></span>
{% if event.acro %} <span class="field_acro">( {{ event.acro }} )</span> {% endif %}
{% if event.city or country %}@{% endif %}
{% if event.city %}
    <span class="city">
        <a href="http://{{ LANGUAGE_CODE|slice:"0:2" }}.wikipedia.org/wiki/{{ event.city }}">
            {{ event.city|lower|capfirst }}</a>
    </span>
{% endif %}
{% if event.country %}
    <span class="field_country">
        (<a href="http://{{ LANGUAGE_CODE|slice:"0:2" }}.wikipedia.org/wiki/{{ event.country }}">{{ event.country|lower|upper }}</a>)
    </span>
{% endif %}

