{% load i18n %}
{% load markup %}

{% if USER.username %}
    {% if USER.has_groups %}
        <h2 align="center">{% trans "Groups" %}</h2>
        <p align="right"><a href="{% url group_new %}">{% trans "Create a new group" %}</a></p>
        {% if USER.has_groups_with_coming_events %}
            {% include "groups/groups_coming_events.html" %}
        {% else %}
            <!-- TODO: recommend some events -->
            <p>{% trans "No coming events in your groups." %}</p>
            {% endif %}
    {% else %}
        {% trans "You are not a member of any group" %}
    {% endif %}
{% else %}
    <h2>{% trans "What is GridCalendar.net?" %}</h2>
    {{ about_text|restructuredtext }}
    <p><a href="{% url registration_register %}">{% trans "Create an account now" %}</a></p>
{% endif %}
