{% load i18n %}

<div class="field">
    <a href="{% url event_show event.id %}"><span class="field_title">{{ event.title }}</span></a>

    <br />

    <span class="field_dates">
        {{ event.start }} {% if event.end %} : {{ event.end }} {% endif %}
    </span>

    {% if event.city %}
        <br /><span class="field_city">
        <a href="http://{{ LANGUAGE_CODE|slice:"0:2" }}.wikipedia.org/wiki/{{ event.city }}">{{ event.city|capfirst }}</a></span>
    {% endif %}

    {% if event.country %}
    <span class="field_country">
        (<a href="http://{{ LANGUAGE_CODE|slice:"0:2" }}.wikipedia.org/wiki/{{ event.country }}">{{ event.country }}</a>)
    </span>
    {% endif %}

    {% if event.get_tags %}
    <br />
    <span class="tags">
        {% for tag in event.get_tags %}
        <span class="tag"><a href="/t/{{ tag }}/">{{ tag }}</a>, </span>
        {% endfor %}
    {% endif %}

    <br />

    <a href="{% url event_edit event.id %}">{% trans "edit this event with a form" %}</a>
    &nbsp;
    <a href="{% url event_edit_raw event.id %}">{% trans "edit this event as text" %}</a>
    &nbsp;
    <a href="{% url group_add_event event.id %}">{% trans "add this event to a group" %}</a>
    <a href="{% url event_show_ical event.id %}"><span class="field_ical"><img src="{{ MEDIA_URL }}/icallogo.png" width="16"></span></a>
</div>

