{% extends "base.html" %}
{% load i18n %}
{% load event_tags %}

{% block container %}

<span class="event_medium_ical_logo">
  <a href="{% url event_show_ical event.id %}"><img alt="ICAL" src="{{ MEDIA_URL }}icalicon.png" /></a>
</span>

{% if not READ_ONLY %}
    <a href="{% url event_edit event.id %}"><span class="field_title">{% trans "edit" %}</span></a>
    &nbsp;
    <a href="{% url event_edit_raw event.id %}"><span class="field_title">{% trans "edit as text" %}</span></a>
    &nbsp;
    <a href="{% url group_add_event event.id %}">{% trans "add to group" %}</a>
{% endif %}

<div id="event_textarea_form">
<pre>
    <table>
        <div>{{ event_textarea }}</div>
    </table>
</pre>
</div>

{% endblock %}
