{% extends "base.html" %}
{% load i18n %}

{% block column1 %}

<p>{% trans "Create a new event" %}:</p>
<div id="event_textarea_form">

    <form action="" method="post">{% csrf_token %}
        <table>
            {% if event_textarea %}
                <TEXTAREA Name="event_astext" rows="25" cols="80">{{ event_textarea }}</TEXTAREA>
            {% else %}
                <TEXTAREA Name="event_astext" rows="25" cols="80"></TEXTAREA>
            {% endif %}
        <input type="submit" value={% trans "Save" %}>
        </table>
    </form>

</div>

<p>
<pre>
{{ example }}
</pre>
</p>

{% endblock %}


{% block column3 %}
{% endblock %}

