{% load i18n %}

{% if user.username and groups %}
    <ul>
        {% for group in groups %}
            <li>
                <a href="{% url list_events_group_ical_hashed g.id user_id hash %}">
                    <img src="{{ MEDIA_URL }}icallogo.png" width="14"></a>&nbsp;
                <a href="{% url list_events_group_rss_hashed g.id user_id hash %}">
                    <img src="{{ MEDIA_URL }}rssicon.png" width="14"></a>&nbsp;
                <a href="{% url list_events_group g.id %}">{{ group.name }}</a> ({{ group.future_events_count }})
                | <a href="{% url group_quit_ask g.id %}">quit</a> |
                | <a href="{% url group_invite g.id %}">invite</a> |
            </li>
            <ul>
                {% for event in group.future_events %}
                    <li>{% include "event_show_one_line.html" %}</li>
                {% empty %}
                    <li>{% trans "No future events in this group" %}</li>
                {% endfor %}
            </ul>
        {% empty %}
            <li> {% trans "You are not a member of any group" %} </li>
        {% endfor %}
    </ul>
{% endif %}            

{% if user.username %}
    <p align="right"><a href="{% url group_new %}">{% trans "Create a new group" %}</a></p>
    <h2 align="center">{% trans "Coming events in my groups" %}</h2>
    {% if group_events %}
        {% for g in group_events %}
            Group: {{g.group_name}}<br>
            {% for event in g.el %}
                <p>
                    <div class="field">
                        <a href="{% url event_show event.id %}">{{ event.title }}</a><br />
                        <span class="field_dates">{{ event.start }} {% if event.end %} : {{ event.end }} {% endif %}
                        </span>
                    </div>
                </p>
            {% endfor %}
        <hr />
        {% endfor %}
    {% else %}
        <!-- TODO: recommend some events -->
        <p>{% trans "No events in your groups." %}</p>
    {% endif %}
{% else %}
    <h2>{% trans "What is GridCalendar.net?" %}</h2>
    {{ about_text|restructuredtext }}
    <p><a href="{% url registration_register %}">{% trans "Create an account now" %}</a></p>
{% endif %}
