{% extends "base.html" %}
{% load i18n %}

{% block container %}

<h1 id="legal">{% trans "Legal notice" %}</h1>

<p>
{% trans "GridCalendar (abbreviated as GriCal) is a project of the German-based start-up:" %}
</p>

<pre>
    Vorgründungsgesellschaft GridMind Ivan Fernando Villanueva Barrio EU
    Malmöer Str. 6
    10439 Berlin
    Germany
    
    Tel:   +493039820596
    Fax:   +493034060473
    Email: office ät gridmind.org
</pre>

<p>{% blocktrans %}
Value added tax identification number (in Germany called
<tt>Umsatzsteuer-Identifikationsnummer</tt>) according to German law <tt>§ 27 a
    Umsatzsteuergesetz</tt>: DE270095377
{% endblocktrans %}
</p>

<p>
{% blocktrans %}
Responsible for the content according to German law <tt>§ 55 Abs. 2 RStV</tt>: Ivan Fernando
Villanueva Barrio (address as before)
{% endblocktrans %}
</p>

<p>
{% blocktrans %}
<b>Disclaimer</b>: Despite careful control we assume no liability for the content of external links. For
the content of linked pages are their operators the only responsible.
{% endblocktrans %}
</p>

<h1 id="terms">{% trans "Terms of use" %}</h1>
<p>
{% blocktrans %}

GridCalendar is an online open-content collaborative site, that is, a voluntary association of
individuals and groups working to develop a common resource of human knowledge. Please be advised
that nothing found here has necessarily been reviewed by people with the expertise required to 
provide you with complete, accurate or reliable information. You can find more about the project at
<a href="http://code.gridcalendar.net">the GridCalendar's project page</a>

{% endblocktrans %}
</p>

<p>
{% blocktrans %}

That is not to say that you will not find valuable and accurate information in GridCalendar. However,
GridCalendar cannot guarantee the validity of the information found here.

None of the contributors, sponsors, administrators, or anyone else connected with GridCalendar in
any way whatsoever can be responsible for the appearance of any inaccurate or libelous information
or for your use of the information contained in or linked from these web pages.

{% endblocktrans %}
</p>

<p>
{% blocktrans %}

Please make sure that you understand that the information provided here is being provided freely,
and that no kind of agreement or contract is created between you and the owners or users of this
site, the owners of the servers upon which it is housed, the individual GridCalendar contributors, any
project administrators, sysops or anyone else who is in any way connected with this project or
sister projects subject to your claims against them directly. You are being granted a limited
license to copy anything from this site; it does not create or imply any contractual or
extracontractual liability on the part of GridCalendar or any of its agents, members, organizers or
other users.

{% endblocktrans %}
</p>

<p>
{% blocktrans %}

There is no agreement or understanding between you and GridCalendar regarding your use or
modification of this information beyond the
<a href="http://creativecommons.org/licenses/by-sa/3.0/de/deed.en">
    Creative Commons Attribution-Sharealike 3.0 Germany License (CC-BY-SA 3.0)
</a>
; neither is anyone at GridCalendar responsible should someone change, edit,
modify or remove any information that you may post on GridCalendar or any of its associated
projects.

{% endblocktrans %}
</p>

<p>
{% blocktrans %}

You are solely responsible for ensuring that you do not infringe someone else's rights.

{% endblocktrans %}
</p>

<hr />
<p style="font-size:80%">
{% blocktrans %}
This text is available under the Creative Commons Attribution-ShareAlike License and is based
on the
<a href="http://en.wikipedia.org/wiki/Wikipedia:General_disclaimer">
    General Disclaimer of the Wikipedia
</a>
.
{% endblocktrans %}
</p>

{% endblock %}
