{% extends "base_2columns.html" %}
{% load i18n %}
{% block column1 %}
    <p>
        <form style="display:inline" action="{% url filter_save %}" method="POST">{% csrf_token %}
            <input type="hidden" size="60" name="q" value="{{ query }}">
            <input type="submit" value="{% trans "Save this search as a filter" %}">
        </form>
        {% if USER.is_authenticated %}
            &nbsp;
            <a href='http://30boxes.com/external/widget?url=http://{{ DOMAIN }}{% url list_events_search_ical_hashed query|iriencode user_id hash %}'>Calendar view</a>
            &nbsp;
            <a href='{% url list_events_search_ical_hashed query|iriencode user_id hash %}'>
                <span class="field_ical"><img alt="ICAL" src="{{ MEDIA_URL }}icalicon.png" width="14"></span></a>
            &nbsp;
            <a href='{% url list_events_search_rss_hashed query|iriencode user_id hash %}'>
                <span class="field_rss"><img alt="RSS" src="{{ MEDIA_URL }}rssicon.png" width="14"></span></a>
        {% else %}
            &nbsp;
            <a href='http://30boxes.com/external/widget?url=http://{{ DOMAIN }}{% url list_events_search_ical query|iriencode %}'>Calendar view</a>
            &nbsp;
            <a href='{% url list_events_search_ical query|iriencode %}'>
                <span class="field_ical"><img alt="ICAL" src="{{ MEDIA_URL }}icalicon.png" width="14"></span></a>
            &nbsp;
            <a href='{% url list_events_search_rss query|iriencode %}'>
                <span class="field_rss"><img alt="RSS" src="{{ MEDIA_URL }}rssicon.png" width="14"></span></a>
        {% endif %}
    </p>
    <h2>{% trans "Events" %}</h2>
    {% if events %}
        <div>
            {% for event in events %}
                {% include "event_show_medium.html" %}
            {% endfor %}
        </div>
    {% else %}
        <p> {% trans "There are no events for this search currently" %}. </p>
    {% endif %}
{% endblock %}
{% block column2 %}
    <h2> {% trans "Related events" %} </h2>
    {% if related_events and related_events|length > 0 %}
        {% for event in related_events %}
            {% include "event_show_medium.html" %}
        {% endfor %}
    {% else %}
        <p> {% trans "There are no related events" %}. </p>
    {% endif %}
{% endblock %}
