{% extends "base.html" %}
{% load i18n %}

{% block column1 %}
<p>{% trans "My filters" %}:</p>
<ul>
    {% for fil in filters %}
        <li>
            <a href="{% url list_events_search fil.query|urlencode %}"> {{ fil.name }} </a>
            &nbsp; ({{ fil.matches_count }})
            &nbsp; <a href="{% url filter_edit fil.id %}">edit</a>
            &nbsp; <a href="{% url filter_drop fil.id %}">delete</a>
        </li>

        <ul>
            <li>{% trans "Query:" %} {{ fil.query }}</li>
            {% for event in fil.upcoming_events %}
                <li> {% include "event_show_small.html" %} </li>
            {% endfor %}
        </ul>
    {% endfor %}
</ul>
{% endblock %}
