{% extends "base.html" %}
{% load i18n %}

{% block column1 %}
<h3> {% trans "Search result for" %}: {{ query }}</h3>

<p>
    <form action="{% url filter_save %}" method="POST">{% csrf_token %}
        <input type="hidden" size="60" name="q" value="{{ query }}">
        <input type="submit" value="{% trans "Save this search as a filter" %}">
    </form>
</p>

{% if USER.is_authenticated %}
    <a href="{% url list_events_search_ical_hashed query user_id hash %}">
        <span class="field_ical"><img alt="ICAL" src="{{ MEDIA_URL }}icalicon.png" width="14"></span></a>
    <a href="{% url list_events_search_rss_hashed query user_id hash %}">
        <span class="field_rss"><img alt="RSS" src="{{ MEDIA_URL }}rssicon.png" width="14"></span></a>
{% else %}
    <a href="{% url list_events_search_ical query %}">
        <span class="field_ical"><img alt="ICAL" src="{{ MEDIA_URL }}icalicon.png" width="14"></span></a>
    <a href="{% url list_events_search_rss query %}">
        <span class="field_rss"><img alt="RSS" src="{{ MEDIA_URL }}rssicon.png" width="14"></span></a>
{% endif %}

{% include "list_events_wrapper.html" %}

{% endblock %}

