{% extends "base.html" %}
{% load i18n %}

{% block feeds %}
<!--
    TODO: make below feed show all events
-->
<link rel="alternate" type="application/rss+xml" title="Group Feed" href="{% url list_events_filter_rss 1 %}" />
{%endblock feeds%}

{% block column1 %}

<br />

{% if events %}
    {% for event in events %}
        {% include "event_show_expanded.html" %}
        {% trans "Matches your filters" %}:
        {% for fil in event.filters %}
            <a href="{% url list_events_search fil.query|urlencode %}">{{ fil.name }}</a>&nbsp;
            <a href="{% url list_events_filter_ical_hashed fil.id fil.user_id fil.hash %}"><img src="{{ MEDIA_URL }}icallogo.png" width="14"></a>&nbsp;
            <a href="{% url list_events_filter_rss_hashed fil.id fil.user_id fil.hash %}"><img src="{{ MEDIA_URL }}rssicon.png" width="14"></a>
        {% endfor %}
    {% endfor %}
{% endif %}


{% if ip_country_event_list %}
    <!-- ip country events -->
    {% for event in ip_country_event_list %}
        {% include "event_show_expanded.html" %}
    {% endfor %}
{% endif %}

{% if ip_continent_event_list %}
    <!-- ip continent events -->
    {% trans "Below are some events which happen soon on the continent we think you are in now" %}:
    {% for event in ip_continent_event_list %}
        {% include "event_show_expanded.html" %}
    {% endfor %}
{% endif %}

{% if landless_event_list %}
    <!-- events without country -->
    {% for event in landless_event_list %}
        {% include "event_show_expanded.html" %}
    {% endfor %}
{% endif %}

{% endblock %}


{% block column2 %}

<p class="info">
    {% trans "Submit a new event" %} ({% trans "more info can be added after submitting" %})<br />
    <a href="{% url event_new_raw %}">{% trans "You can alternatively submit an event with a single textarea" %}</a>
</p>
<div id="event_form">
    {% if form.errors %}
        <p style="color: red;">
        {% blocktrans count form.errors|length as counter %}
        Please correct the following error
        {% plural %}Please correct the following errors
        {% endblocktrans %}:
        </p>
    {% endif %}
    <form action="" method="post">
        <table>
            {{ form.as_table }}
        </table>
        <input type="submit" value={% trans "Submit" %}>
    </form>
</div>


<!--
{% if user.username %}
<p class="info">{% trans "Change what is displayed here in" %}:
    <a href="{% url settings %}">{% trans "filters" %}</a></p>
{% endif %}
-->
{% include "coming_events_in_my_groups.html" %}

{% endblock %}
