{% extends "base.html" %}
{% load i18n %}
{% load urlsearch %}

{% block views %}
    <div id="views">
        {# shows views bottons #}
        {% for view in views %}
            {% ifequal current_view view %}
                <div id="{{ view }}_view" class="current_view">{{ view }}</div>
            {% else %}
                <div id="{{ view }}_view"><a href="{% urlsearch query=query view=view %}">{{ view }}</a></div>
            {% endifequal %}
        {% endfor %}
        {# shows links to download or links to external services #}
        <div id="ical_view">
            <a href='{% urlsearch query=query view="ical" %}'>iCalendar</a>
                <!-- doesn't look nice in IE7 at least
                <img alt="ICAL" src="{{ MEDIA_URL }}icalicon.png" width="14" />iCalendar</a>
                -->
        </div>
        <div id="rss_view">
            <a href='{% urlsearch query=query view="rss" %}'>RSS</a>
                <!-- doesn't look nice in IE7 at least
                <img alt="RSS" src="{{ MEDIA_URL }}rssicon.png" width="14" />RSS</a>
                -->
        </div>
    </div>
{% endblock %}

{% block search_info %}
    <span id='search_info'>
        {% if number_of_events_found > 0 %}
            {% if number_of_events_found == 1 %}
                {% blocktrans %}
                    One event found searching for '{{ query }}'.
                {% endblocktrans %}
            {% else %}
                {% blocktrans %}
                    {{ number_of_events_found }} events found searching for '{{ query }}'.
                {% endblocktrans %}
            {% endif %}
        {% endif %}
        {% if USER.is_authenticated %}
            <form style="display:inline" action="{% url filter_save %}" method="POST">{% csrf_token %}
                <input type="hidden" size="60" name="q" value="{{ query }}">
                <input type="submit" value="{% trans "Save as a filter" %}">
            </form>
        {% else %}
            {% trans "(if you were logged in, you could save this search as a filter)" %}
        {% endif %}
    </span>
{% endblock %}

{% block container %}
    {% if number_of_events_found == 0 %}
        <p> {% trans "There are no events for this search currently" %}. </p>
    {% else %}
        {% ifequal current_view "table" %}
            {% include "search_table.html" %}
        {% else %}
            {% ifequal current_view "calendars" %}
                {% include "search_calendars.html" %}
            {% else %}
                {% ifequal current_view "map" %}
                    {% include "search_map.html" %}
                {% else %}
                    {% include "search_boxes.html" %}
                {% endifequal %}
            {% endifequal %}
        {% endifequal %}
    {% endif %}
{% endblock %}
