{% load i18n %}

{% if groups %}
<ul>
    {% for g in groups %}
        <li>
            <a href="/g/{{g.id}}/">{{ g.name }}</a>
            &nbsp;
            <a href="/g/quit/{{g.id}}/">quit</a>
            &nbsp;
            <a href="/g/invite/{{g.id}}/">invite</a>
            <a href="/g/{{g.id}}/ical/{{xxxx.user_id}}/{{xxxx.hash}}/"><img src="{{ MEDIA_URL }}/icallogo.png" width="14"></a>&nbsp;
            <a href="/g/{{g.id}}/rss/"><img src="{{ MEDIA_URL }}/rssicon.png" width="14"></a>
    {% endfor %}
</ul>
{% else %}
        <p>{% trans "No groups found!" %}</p>
{% endif %}




