{% load i18n %}

<ul>
    {% for fil in filter_list %}
    <li>
<!--
    <a href="/q/?q={{fil.query|urlencode}}">
-->
    <a href="/s/{{fil.query|urlencode}}/">
    {{ fil.name }}
    </a>
    &nbsp;
    ({{ fil.results }})
    &nbsp;
    <a href="/f/edit/{{ fil.id }}/">edit</a>
    &nbsp;
    <a href="/f/delete/{{ fil.id }}/">delete</a>

    {% if fil.errormessage %}
    <p>
    <div id="message_col1">
    {{ fil.errormessage }}
    </div>
    </p>
    {% endif %}

    </li>
    {% endfor %}
</ul>

