{% extends "base.html" %}
{% load i18n %}

{% block column1 %}

<h2>{% trans "User" %}</h2>
<ul>
    <li>{% trans "Username" %}: {{user.username}} </li>
    <li>{% trans "Firstname" %}: {{user.firstname}} </li>
    <li>{% trans "Lastname" %}: {{user.lastname}} </li>
    <li>{% trans "Email" %}: {{user.email}} </li>
    <li>{% trans "Last login" %}: {{user.last_login}} </li>
</ul>

<p>
<a href="{% url auth_password_change %}">change password</a>
</p>

<p>
<a href="{% url list_filters_my %}">my filters</a>

{% include "settings_filters.html" %}

</p>

<p>
<a href="{% url list_groups_my %}">list groups I am in</a>

{% include "settings_groups.html" %}
</p>


<p>
<a href="{% url group_new %]">create a group</a>
</p>

{% endblock %}
