{% extends "base.html" %}
{% load i18n %}

{% block column1 %}

<p>{% trans "Add information to the event" %}:</p>
<div id="event_form">
    {% if form.errors %}
        <p style="color: red;">
            {% trans "Please correct following" %} {% blocktrans count form.errors as counter %}error{% plural %}errors{% endblocktrans %}
        </p>
    {% endif %}
    <form action="" method="post">
        <table>
            {{ form.as_table }}
        </table>
        <table>
            {{ formset_url.as_table }}
        </table>
        <table>
            {{ formset_timechunk.as_table }}
        </table>
        <table>
            {{ formset_deadline.as_table }}
        </table>
        <input type="submit" value={% trans "Save" %}>
    </form>
</div>
        <a href="/events/edit_astext/{{ event_id }}/"><span class="field_title"> edit this event as text </span></a>
{% endblock %}


{% block column3 %}
{% endblock %}
