{% extends "base.html" %}
{% load i18n %}
{% block column1 %}
<p>{% trans "These are your filters" %}:</p>
<ul>
    {% for filters in filters %}
    <li>
    {{ filters.name }}:
    <a href="/events/list/filter/edit/{{ filters.id }}/">edit</a>
    &nbsp;
    <a href="/events/list/filter/drop/{{ filters.id }}/">delete</a>

        <form action="/events/list/search/" method="get">
            <input type="hidden" name="q" value="{{ filters.query }}">
            <input type="submit" value="{% trans "Run a search using this filter" %}">
        </form>

    <p>
    </p>

    </li>
    {% endfor %}
</ul>
{% endblock %}
