{% extends "base.html" %}
{% load i18n %}

{% block column1 %}
<h3> {% trans "Search result for" %}: {{ query }}</h3>

<p>
        <form action="/f/new/" method="POST">
            <input type="hidden" size="60" name="q" value="{{ query }}">
            <input type="submit" value="{% trans "Save this search as a filter" %}">
        </form>
</p>


<a href="/s/{{query}}/ical/"><span class="field_ical"><img src="{{ MEDIA_URL }}/icallogo.png" width="14"></span></a>
<a href="/s/{{query}}/rss/"><span class="field_rss"><img src="{{ MEDIA_URL }}/rssicon.png" width="14"></span></a>

{% include "events/list_wrapper.html" %}
{% endblock %}

