{% extends "base.html" %}
{% load i18n %}

{% block column1 %}

<p>{% trans "Event details" %}:</p>
<div id="event_textarea_form">
<pre>

        <table>
            <div>{{ event_textarea }}</div>
        </table>

</pre>
</div>
<a href="/events/edit/{{ event_id }}/"><span class="field_title"> edit this event with webforms </span></a>
&nbsp;
<a href="/events/edit_astext/{{ event_id }}/"><span class="field_title"> edit this event as text </span></a>

<p>



</p>



{% endblock %}

{% block column2 %}
{% if user.username %}
<p>TODO If user has groups: Latest events in his groups:</p>
<ul>
    <li>group A</li>
    <ul>
        <li>event A.1</li>
        <li>event A.2</li>
    </ul>
    <li>group B</li>
    <ul>
        <li>event B.1</li>
        <li>event B.2</li>
    </ul>
</ul>
{% else %}
<p>TODO: Instructions how this site works]</p>
{% endif %}
{% endblock %}

{% block column3 %}
{% endblock %}
