{% extends "base.html" %}
{% load i18n %}

{% block column1 %}

<p>{% trans "Event details" %}:</p>


<p>

<a href="/ical/event/{{event_id}}/">
iCal {% trans "for this event" %}
</a>

</p>




<div id="event_textarea_form">
<pre>

        <table>
            <div>{{ event_textarea }}</div>
        </table>

</pre>
</div>

<a href="/events/edit/{{ event_id }}/"><span class="field_title">{% trans "edit this event with webforms" %}</span></a>
&nbsp;
<a href="/events/edit_astext/{{ event_id }}/"><span class="field_title">{% trans "edit this event as text" %}</span></a>
&nbsp;
<a href="/groups/add_event/{{ event_id }}/"><span class="field_title">{% trans "add this event to a group" %}</span></a>


<p>


</p>

{% endblock %}

{% block column3 %}
{% endblock %}

