{% extends "base.html" %}
{% load i18n %}

{% block column1 %}

<p>{% trans "Event details" %}:</p>


<p>

<a href="/e/show/{{event_id}}/ical/">
iCal {% trans "for this event" %}
</a>

</p>




<div id="event_textarea_form">
<pre>

        <table>
            <div>{{ event_textarea }}</div>
        </table>

</pre>
</div>

<a href="/e/edit/{{ event_id }}/"><span class="field_title">{% trans "edit this event with webforms" %}</span></a>
&nbsp;
<a href="/e/edit/{{ event_id }}/raw/"><span class="field_title">{% trans "edit this event as text" %}</span></a>
&nbsp;
<a href="/e/group/{{ event_id }}/"><span class="field_title">{% trans "add this event to a group" %}</span></a>


<p>


</p>

{% endblock %}

{% block column3 %}
{% endblock %}

