{% extends "base.html" %}
{% load i18n %}

{% block title %}
{% trans "user activated" %} | {{ block.super }}
{% endblock %}

{% block container %}

{% if account %}

<div class="container m-t-1">
    <div class="row">
        <div class="col-xs-12">
            <p>{% trans "Account successfully activated" %}</p>
            <p><a href="{% url "auth_login"  %}">{% trans "Log in" %}</a></p>
        </div>
    </div>
</div>

{% else %}

<div class="container m-t-1">
    <div class="row">
        <div class="col-xs-12">
            <p>{% trans "Account activation failed" %}</p>
        </div>
    </div>
</div>

{% endif %}

{% endblock %}
