{% extends "base.html" %}
{% load i18n %}

{% block container %}

<div class="container m-t-3 m-b-3">
    <div class="row">
        {% if form.errors %}
        <div class="col-xs-12">
            <div class="m-b-1 text-danger">{% trans "Your username and password didn't match. Please try again" %}.</div>
        </div>
        {% endif %}
        <div class="col-xs-12 col-sm-8 offset-sm-2  col-md-6 offset-md-3">
            <form id="loginForm" action="{% url "auth_login"  %}" method="post" class="form">{% csrf_token %}
                <legend><h1>{% trans "Login" %}</h1></legend>
                <fieldset class="m-t-2">
                    <div class="input-group">
                        <input class="form-control" name="{% trans "username" %}" placeholder="email" required>
                        <div class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></div>
                    </div>
                </fieldset>
                <fieldset class="m-t-1">
                    <div class="input-group">
                        <input class="form-control" type="password" name="{% trans "password" %}" placeholder="password" required>
                        <div class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></div>
                    </div>
                </fieldset>
                <fieldset class="m-t-1">
                    {% comment %}
                    <label for="checkbox">
                        <input id="checkbox" name="checkbox" class="checkbox--forget" type="checkbox" />
                        <span class="icon--checkbox fa fa-check"></span> Remember me</label>
                    {% endcomment %}
                    <a href="{% url "auth_password_reset"  %}">{% trans "Forgot your password ?" %}</a>
                </fieldset>
                <fieldset class="m-t-1">
                        <div id="submit-button"><input type="submit" value="{% trans "login" %}" /></div>
                        <div><input type="hidden" name="next" value="{{ next }}" /></div>
                </fieldset>
                <div class="m-t-1">{% trans "Not a member yet?" %} <a href="{% url "registration_register"  %}">{% trans "Get a new account." %}</a></div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

