{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Password change" %}{% endblock %}

{% block container %}

<div class="container m-t-3">
    <div class="row">
        <div class="col-xs-12">

            <form action="" method="post">{% csrf_token %}

                <legend>
                    <h1>{% trans "Password change" %}</h1>
                </legend>

                <p>{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</p>

                <p>
                    <label for="id_old_password">{% trans 'Old password:' %}</label> {{ form.old_password }} {{ form.old_password.errors }}
                </p>
                <p>
                    <label for="id_new_password1">{% trans 'New password:' %}</label> {{ form.new_password1 }} {{ form.new_password1.errors }}
                </p>
                <p>
                    <label for="id_new_password2">{% trans 'Confirm password:' %}</label> {{ form.new_password2 }} {{ form.new_password2.errors }}
                </p>

                <div id="submit-button"><input type="submit" value="{% trans "Change my password" %}" /></div>
            </form>

        </div>
    </div>
</div>

{% endblock %}
